/*
Theme Name: BGM MOBILE
Theme URI: http://http://www.bgmrodotec.com.br/
Developer: Herick Correa
Developer URI: http://www.herickcorrea.com.br
Description: The 2013 theme for WordPress takes us back to the blog, featuring a full range of post formats, each displayed beautifully in their own unique way. Design details abound, starting with a vibrant color scheme and matching header images, beautiful typography and icons, and a flexible layout that looks great on any device, big or small.
Version: 2.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Tags: black, brown, orange, tan, white, yellow, light, one-column, two-columns, right-sidebar, flexible-width, custom-header, custom-menu, editor-style, featured-images, microformats, post-formats, rtl-language-support, sticky-post, translation-ready
Text Domain: twentythirteen

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.
*/


* {	margin:0; padding:0; outline:none; border:0; list-style-type:none !important; text-decoration:none; list-style-image:none !important;}

html{font-size:100%; -webkit-text-size-adjust:100%; -ms-text-size-adjust:100%;}
header, section, footer, article, figcaption, hgroup, figure, details, aside, img, nav, time {display:block;}
audio, canvas, video {display:inline-block;*display:inline;*zoom:1;}
audio:not([controls]){display:none;}
[hidden]{display:none;}


/* EMBED FONTS
-------------------------------------------------------------- */

@font-face {
	font-family:'din_mediumregular';
	src: url('fonts/din_medium-webfont.eot');
	src: url('fonts/din_medium-webfont.eot?#iefix') format('embedded-opentype'),
		 url('fonts/din_medium-webfont.woff') format('woff'),
		 url('fonts/din_medium-webfont.ttf') format('truetype'),
		 url('fonts/din_medium-webfont.svg#din_mediumregular') format('svg');
	font-weight:normal;
	font-style:normal;
}

@font-face {
    font-family:'dinbold';
    src: url('fonts/din-bold-webfont.eot');
    src: url('fonts/din-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/din-bold-webfont.woff') format('woff'),
         url('fonts/din-bold-webfont.ttf') format('truetype'),
         url('fonts/din-bold-webfont.svg#dinbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family:'dinregular';
    src: url('fonts/din-regular-webfont.eot');
    src: url('fonts/din-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/din-regular-webfont.woff') format('woff'),
         url('fonts/din-regular-webfont.ttf') format('truetype'),
         url('fonts/din-regular-webfont.svg#dinregular') format('svg');
    font-weight:normal;
    font-style:normal;
}


/* STANDARD STYLES
-------------------------------------------------------------- */

body {font-family:'dinregular'; font-size:16px; color:#4e5156; background:#fff; position:relative; width:640px}

hr {display:none;}
.clear {clear:both; margin:0 !important; padding:0 !important}
.trava {margin:0 auto; position:relative; clear:both}
.esconde {width:0; height:0; position:absolute; overflow:hidden; display:block;}
.noborder {border:0 !important;}
.addthis_button_print{ display: none;}

/* HEADER
-------------------------------------------------------------- */

body > header {height:72px; position:relative;}
body > header hgroup {height:50px; position:relative; z-index:4; display:inline-block}
body > header hgroup img {height:72px;}

/* MENU */

body > header nav.menu {right:0; position:absolute; width:100%; top:0; z-index:3;}
body > header nav.menu h3 {float:right; margin:0 20px 0 0;}
body > header nav.menu h3 a {
	font-size:25px;
	color:#000;
	text-transform:uppercase;
	display:block;
	padding:0 30px 0 0;
	height:72px;
	line-height:72px;
	text-transform:uppercase;
}
body > header nav.menu h3 a.down {background:url(images/seta_menu.png) no-repeat right center;}
body > header nav.menu h3 a.up {background:url(images/seta_menu_up.png) no-repeat right center;}

body > header nav.menu > div {clear:both; height:0; opacity:0; border-top:1px solid #000; background:#fff; overflow:hidden;}
body > header nav.menu > div > ul > li {min-height:50px; line-height:50px; background:#fff; border-bottom:1px solid #000;}
body > header nav.menu > div > ul > li > a {padding:0 35px; display:block; text-align:left; font-size:25px; color:#000;}
body > header nav.menu > div > ul > li > a span {color:#fff; font-size:1.4em; display:block;}

body > header nav.menu > div > ul > li.menu-item-191 > a.plus {background:url(images/bg_submenu_plus.png) no-repeat 147px center;}
body > header nav.menu > div > ul > li.menu-item-191 > a.less {background:url(images/bg_submenu_less.png) no-repeat 147px center;}

/* SUBMENU */

body > header nav.menu > div > ul > li > ul {background:#3b3b3b; overflow:hidden; height:0; opacity:0;}
body > header nav.menu > div > ul > li > ul li a {display:block; height:35px; line-height:35px; padding:5px 35px 0 35px; color:#fff; font-size:18px;}
body > header nav.menu > div > ul > li > ul li ul li a {color:#ea4332; margin:0 20px; display:block}


/* HOME
-------------------------------------------------------------- */

section#home article {height:198px; padding:30px 40px 0 40px;}
section#home article h1 {font-size:22px; line-height:22px; color:#eb4331; padding:0 0 12px 0}
section#home article p {font-size:23px; line-height:25px; font-family:'din_mediumregular'; padding:0 0 12px 0}
section#home article a {font-size:18px; text-transform:uppercase; color:#eb4331; line-height:18px; font-family:'din_mediumregular';}


/* SOFTWARE GLOBUS
-------------------------------------------------------------- */

section#softwareGlobus {height:160px;}
section#softwareGlobus article {float:left; padding:0 0 0 40px; width:262px;}
section#softwareGlobus article img {float:left; margin:0 10px 0 0}
section#softwareGlobus article p {float:left; width:149px; text-transform:uppercase; font-size:12px; line-height:13px; padding:32px 0 0 0;}
section#softwareGlobus article p a {color:#4e5156; font-family:'din_mediumregular'; display:inline-block; font-size:20px; line-height:24px}


/* CONTATO
-------------------------------------------------------------- */

section#contato {background:#f8f7f5;}
section#contato.contato {height:888px;}
section#contato h1 {padding:35px; padding:70px 0 0 40px; font-size:30px; text-transform:uppercase; font-weight:normal; font-family:'din_mediumregular';}
section#contato article p {height:79px; padding:40px 40px 0 127px; font-size:14px; text-transform:uppercase; line-height:18px; font-family:'din_mediumregular'; background:url(images/bg_telefone.png) no-repeat 50px center}
section#contato article p a {display:block; color:#eb4331;}
section#contato article p:first-child {border-bottom:1px solid #c5c5c5; background:url(images/bg_email.png) no-repeat 50px center}
section#contato article p:first-child a {color:#4e5156; font-size:26px; padding:7px 0 0 0; font-family:'dinregular';}

section#contato ul.social {text-align:center; padding:26px 0;}
section#contato ul.social li {display:inline-block; padding:0 4px}

section#contato div.copy {height:46px; text-align:center; font-size:11px; text-transform:uppercase;}
section#contato div.copy p {padding:5px 0 0 0;}


/* CLIENTES
-------------------------------------------------------------- */

section#clientes {padding:35px 40px 0 40px; border-top:1px solid #000; width:560px;}
section#clientes h1 {font-size:30px; line-height:30px; text-transform:uppercase; font-weight:normal; font-family:'din_mediumregular';}
section#clientes ul {padding:35px 0 0 0;}
section#clientes ul li {float:left; width:140px; height:140px;}
section#clientes ul li img {margin:0 auto; max-height:100%; max-height:100%;}

/* DEPOIMENTOS
-------------------------------------------------------------- */

section#depoimentos {padding:35px 40px 0 40px; border-top:1px solid #000; width:560px;}
section#depoimentos h1 {font-size:30px; line-height:30px; text-transform:uppercase; font-weight:normal; font-family:'din_mediumregular';}
section#depoimentos ul {padding:35px 0 0 0;}
section#depoimentos ul li {float:left; width:140px; height:140px;}
section#depoimentos ul li img {margin:0 auto; max-height:100%; max-height:100%;}

section#depoimentos div.content {padding:30px 0 0 0; border:0; border-bottom:1px solid #c5c5c5;}
section#depoimentos div.content h1 {font-size:50px; color:#eb4331; text-transform:uppercase; line-height:47px; font-weight:normal; width:400px; font-family:'din_mediumregular';}
section#depoimentos div.content h2 {font-size:16px; color:#eb4331; text-transform:uppercase; line-height:20px; font-weight:normal; font-family:'dinregular'; padding:0 10px 10px 10px;}

section#depoimentos figure {clear:both; padding:2px 0 8px 0;}
section#depoimentos figure img {margin:0 auto;}


section#depoimentos > header {padding: 0px 0px 10px;}
section#depoimentos > header h1 {font-size:30px; line-height:30px; text-transform:uppercase; font-weight:normal; font-family:'din_mediumregular';}
section#depoimentos > header h1 span {text-transform:uppercase; font-size:70px; line-height:59px; padding:0 0 10px 0; display:block}

section#depoimentos div.news {position:relative;}
section#depoimentos div.news div.trava {width:100%;}
section#depoimentos div.news div article h2 {font-weight:normal; font-size:20px; line-height:24px; text-transform:uppercase; color:#eb4331; padding:0 0 10px 10px; text-align: center;}
section#depoimentos div.news div article p {padding:0 0px 15px 10px; font-size:17px; font-family:'dinregular';}
section#depoimentos div.news div article div.text p.assina {text-transform:uppercase; font-size:12px; font-family:'dinregular'; padding: 0 10px 22px 10px;}
section#depoimentos div.news div article div.text p.assina span {display:block; font-size:17px; color:#eb4331; padding: 0;}
section#depoimentos div.news figure img {width: 50%;}

section#depoimentos div.news div:first-child article:first-child {background:#e5e5e5;}
section#depoimentos div.news div:first-child article:first-child + article {background:#e5e5e5;}
section#depoimentos div.news div:first-child article:first-child div.content {border:0; border-bottom:1px solid #c5c5c5;}

/* NOTICIAS
-------------------------------------------------------------- */

section#noticias {padding:35px 40px 0 40px; border-top:1px solid #000; width:560px;}
section#noticias h1 {font-size:30px; line-height:30px; text-transform:uppercase; font-weight:normal; font-family:'din_mediumregular';}
section#noticias ul {padding:35px 0 0 0;}
section#noticias ul li {float:left; width:140px; height:140px;}
section#noticias ul li img {margin:0 auto; max-height:100%; max-height:100%;}

section#noticias div.content {padding:30px 0 0 0;}
section#noticias div.content h1 {font-size:50px; color:#eb4331; text-transform:uppercase; line-height:47px; font-weight:normal; width:400px; font-family:'din_mediumregular';}
section#noticias div.content h2 {font-size:16px; color:#eb4331; text-transform:uppercase; line-height:20px; font-weight:normal; font-family:'dinregular'; padding:0 0 5px 0}

section#noticias figure {clear:both; padding:50px 0 20px 0;}
section#noticias figure img {margin:0 auto;}

/* LOAD MORE */

section#noticias div.more {width:100%; margin:0 auto; padding:30px 10px 30px 10px;}
section#noticias div.more a {display:block;	width:150px; height:30px; line-height:31px;	color:#fff;	text-transform:uppercase; background:#eb4331; text-align:center; font-size:15px;}
section#noticias div.more a:hover {background:#ff6858;}
section#noticias div.more div.old {float:left;}
section#noticias div.more div.new {float:right;}


/* NOTICIAS header
-------------------------------------------------------------- */

section#noticias > header {padding:0 0 10px 0;}
section#noticias > header h1 {font-size:30px; line-height:30px; text-transform:uppercase; font-weight:normal; font-family:'din_mediumregular';}

/* NOTICIAS news
-------------------------------------------------------------- */

section#noticias div.news > article:first-child {background:#e5e5e5; padding:0 0 34px 0}
section#noticias div.news > article:first-child div.content figure {clear:both; padding:50px 0 20px 0;}
section#noticias div.news > article:first-child div.content figure img {margin:0 auto;}
section#noticias div.news > article:first-child div.content {border:0; padding:0;}
section#noticias div.news > article:first-child div.content > a {padding: 10px; text-transform:uppercase; line-height:16px; font-size:14px; color:#eb4331;}
section#noticias div.news > article:first-child div.content div.text {overflow:hidden; margin:0 0 5px 0}
section#noticias div.news > article:first-child div.content div.text p a {line-height:16px; font-size:14px; color:#eb4331;}

section#noticias div.news > article div.trava {width:100%;}

section#noticias div.news article h2 {font-weight:normal; font-size:20px; line-height:24px; text-transform:uppercase; padding:10px; text-align: center;}
section#noticias div.news article time {display:block; font-size:14px; color:#eb4331; text-transform:uppercase; padding:10px; text-align: center;}
section#noticias div.news article p {padding:0 10px 10px 10px; font-size:17px; font-family:'dinregular';}
section#noticias div.news article figcaption {text-transform:uppercase; line-height:16px; font-size:14px; padding:11px 0 0 0; text-align: center;}
section#noticias div.news article a {padding:10px; line-height:16px; font-size:14px; color:#eb4331; text-transform:uppercase;}
section#noticias div.news article div.text p a {text-transform:none;}


/* NOTICIAS cinza
-------------------------------------------------------------- */

section#noticias div.cinza {background:#f6f6f6; padding: 0 0 34px 0;}
section#noticias div.cinza > article:first-child div.content figure {clear:both; padding:50px 0 20px 0;}
section#noticias div.cinza > article:first-child div.content figure img {margin:0 auto;}
section#noticias div.cinza > article:first-child div.content {border:0; padding:0;}
section#noticias div.cinza > article:first-child div.content > a {padding: 10px; text-transform:uppercase; line-height:16px; font-size:14px; color:#eb4331;}
section#noticias div.cinza > article:first-child div.content div.text {overflow:hidden; margin:0 0 5px 0}
section#noticias div.cinza > article:first-child div.content div.text p a {line-height:16px; font-size:14px; color:#eb4331;}

section#noticias div.cinza > article div.trava {width:100%;}

section#noticias div.cinza article h2 {font-weight:normal; font-size:20px; line-height:24px; text-transform:uppercase; padding:10px; text-align: center;}
section#noticias div.cinza article time {display:block; font-size:14px; color:#eb4331; text-transform:uppercase; padding:10px; text-align: center;}
section#noticias div.cinza article p {padding:0 10px 10px 10px; font-size:17px; font-family:'dinregular';}
section#noticias div.cinza article figcaption {text-transform:uppercase; line-height:16px; font-size:14px; padding:11px 0 0 0; text-align: center;}
section#noticias div.cinza article a {padding:10px; line-height:16px; font-size:14px; color:#eb4331; text-transform:uppercase;}
section#noticias div.cinza article div.text p a {text-transform:none;}


/* NOTÍCIA OPEN

-------------------------------------------------------------- */

section#noticiaOpen {padding:35px 40px 0 40px; border-top:1px solid #000; width:560px;}
section#noticiaOpen h1 {font-size:30px; line-height:30px; text-transform:uppercase; font-weight:normal; font-family:'din_mediumregular';}
section#noticiaOpen ul {padding:35px 0 0 0;}
section#noticiaOpen ul li {float:left; width:140px; height:140px;}
section#noticiaOpen ul li img {margin:0 auto; max-height:100%; max-height:100%;}

section#noticiaOpen div.content {padding:0 0 20px 0; border-top: 1px solid #dcdcdc;}
section#noticiaOpen div.content h1 {font-size:50px; color:#eb4331; text-transform:uppercase; line-height:47px; font-weight:normal; width:400px; font-family:'din_mediumregular';}
section#noticiaOpen div.content h2 {font-size:16px; color:#eb4331; text-transform:uppercase; line-height:20px; font-weight:normal; font-family:'dinregular'; padding:0 0 5px 0}

section#noticiaOpen figure {clear:both; padding:50px 0 20px 0;}
section#noticiaOpen figure img {margin:0 auto;}

/* HEADER */

section#noticiaOpen > header {padding:0 0 10px 0;}
section#noticiaOpen > header h1 {font-size:30px; line-height:30px; text-transform:uppercase; font-weight:normal; font-family:'din_mediumregular';}

/* NOTÍCIA OPEN NEWS */

section#noticiaOpen div.news > article:first-child {background:#e5e5e5; padding:0 0 34px 0}
section#noticiaOpen div.news > article:first-child div.content figure {clear:both; padding:50px 0 20px 0;}
section#noticiaOpen div.news > article:first-child div.content figure img {margin:0 auto;}
section#noticiaOpen div.news > article:first-child div.content {border:0; padding:0;}
section#noticiaOpen div.news > article:first-child div.content > a {padding: 10px; text-transform:uppercase; line-height:16px; font-size:14px; color:#eb4331;}
section#noticiaOpen div.news > article:first-child div.content div.text {overflow:hidden; margin:0 0 5px 0}
section#noticiaOpen div.news > article:first-child div.content div.text p a {line-height:16px; font-size:14px; color:#eb4331;}

section#noticiaOpen div.news > article div.trava {width:100%;}

section#noticiaOpen div.news article h2 {font-weight:normal; font-size:20px; line-height:24px; text-transform:uppercase; padding:10px; text-align: center;}
section#noticiaOpen div.news article time {display:block; font-size:14px; color:#eb4331; text-transform:uppercase; padding:10px; text-align: center;}
section#noticiaOpen div.news article p {padding:0 10px 10px 10px; font-size:17px; font-family:'dinregular';}
section#noticiaOpen div.news article figcaption {text-transform:uppercase; line-height:16px; font-size:14px; padding:11px 0 0 0; text-align: center;}
section#noticiaOpen div.news article a {padding:10px; line-height:16px; font-size:14px; color:#eb4331; text-transform:uppercase;}
section#noticiaOpen div.news article div.text p a {text-transform:none;}


section#noticiaOpen div.news article div.share {clear:both;}
section#noticiaOpen div.news article div.share div.facebook {float:left; width:200px}
section#noticiaOpen div.news article div.share div.addthis_toolbox {float:right; width:120px;}
section#noticiaOpen div.news article div.share div.addthis_toolbox a {margin:0 0 0 23px;}



/* EMPRESA
-------------------------------------------------------------- */

section#empresa div.wrap {padding:35px 40px 0 40px; background:#f8f7f5;}

section#empresa article p {font-size:17px; padding:0 0 10px 0}

section#empresa article.valores {padding:40px 0 0 0;}
section#empresa article.valores h1 {text-transform:uppercase; font-weight:normal; font-size:16px; font-family:'din_mediumregular';}
section#empresa article.valores h1 span {display:block; font-size:30px; padding:0 0 10px 0}
section#empresa article.valores ul {padding:0 0 50px 0;}
section#empresa article.valores ul li {background:url(images/arrow-listas.png) no-repeat left 5px; line-height:20px; font-size:16px; font-family:'dinregular'; padding:0 0 0 15px}

section#empresa article.relacionamentos,
section#empresa article.metodologia {padding:30px 0 20px 0; margin:0 40px; border-bottom:1px solid #c5c5c5; background:#fff}
section#empresa article.relacionamentos h1,
section#empresa article.metodologia h1 {text-transform:uppercase; font-weight:normal; font-size:20px; padding:0 0 10px 0; font-family:'din_mediumregular';}
section#empresa article.relacionamentos p,
section#empresa article.metodologia p {line-height:16px; line-height:20px;}

section#empresa article.solucoes {padding:40px; margin:0 auto;}
section#empresa article.solucoes div.content {padding:30px 0 0 0;}
section#empresa article.solucoes div.content h1 {font-size:50px; color:#eb4331; text-transform:uppercase; line-height:47px; font-weight:normal; width:400px; font-family:'din_mediumregular';}
section#empresa article.solucoes div.content h2 {font-size:16px; color:#eb4331; text-transform:uppercase; line-height:20px; font-weight:normal; font-family:'dinregular'; padding:0 0 5px 0}

section#empresa article.solucoes figure {clear:both; padding:50px 0 20px 0;}
section#empresa article.solucoes figure img {margin:0 auto;}


/* CONSULTORIA / INTELIGÊNCIA
-------------------------------------------------------------- */

section#consultoria {background:#f8f7f5;}

section#consultoria div.wrap {padding:35px 40px 0 40px;}

section#consultoria div.wrap article h1 {font-weight:normal; font-size:20px; line-height:34px; font-family:'din_mediumregular';}
section#consultoria div.wrap article h2 {text-transform:uppercase; font-weight:normal; font-size:70px; line-height:59px; padding:0 0 25px 0; font-family:'din_mediumregular';}
section#consultoria div.wrap article p {line-height:27px; font-size:24px; padding:0 0 15px 0}


/* CONSULTORIA / GLOBUS
-------------------------------------------------------------- */

section#globus {background:#f8f7f5;}

section#globus div.wrap {padding:35px 40px 0 40px;}

section#globus div.wrap article h1 {font-weight:normal; font-size:20px; line-height:34px; font-family:'din_mediumregular';}
section#globus div.wrap article h2 {text-transform:uppercase; font-weight:normal; font-size:70px; line-height:59px; padding:0 0 25px 0; font-family:'din_mediumregular';}
section#globus div.wrap article p {line-height:27px; font-size:24px; padding:0 0 15px 0}

section#softwareGlobusGray {height:130px; padding:30px 0 0 0; background:#f8f7f5}
section#softwareGlobusGray article {float:left; padding:0 0 0 40px; width:262px;}
section#softwareGlobusGray article img {float:left; margin:0 10px 0 0}
section#softwareGlobusGray article p {float:left; width:149px; text-transform:uppercase; font-size:12px; line-height:13px; padding:32px 0 0 0;}
section#softwareGlobusGray article p a {color:#4e5156; font-family:'din_mediumregular'; display:inline-block; font-size:20px; line-height:24px}

/* GLOBUS CHILDREN
-------------------------------------------------------------- */

section#softwareGlobusGray2 {height:130px; padding:30px 0 0 0; background:#f8f7f5}
section#softwareGlobusGray2 article {float:left; padding:0 0 0 92px;}
section#softwareGlobusGray2 article img {float:left; margin:0 10px 0 0}
section#softwareGlobusGray2 article p {float:left; width:350px; text-transform:uppercase; font-size:14px; padding:30px 0 0 0; font-family:'din_mediumregular';}
section#softwareGlobusGray2 article p a {color:#4e5156; font-family:'din_mediumregular'; display:block; font-size:20px; padding:8px 0 0 0;}












