/*

Theme Name: BGM

Theme URI: http://http://www.bgmrodotec.com.br/

Developer: Herick Correa

Developer URI: http://www.herickcorrea.com.br

Description: The 2013 theme for WordPress takes us back to the blog, featuring a full range of post formats, each displayed beautifully in their own unique way. Design details abound, starting with a vibrant color scheme and matching header images, beautiful typography and icons, and a flexible layout that looks great on any device, big or small.

Version: 2.0

License: GNU General Public License v2 or later

License URI: http://www.gnu.org/licenses/gpl-2.0.html

Tags: black, brown, orange, tan, white, yellow, light, one-column, two-columns, right-sidebar, flexible-width, custom-header, custom-menu, editor-style, featured-images, microformats, post-formats, rtl-language-support, sticky-post, translation-ready

Text Domain: twentythirteen



This theme, like WordPress, is licensed under the GPL.

Use it to make something cool, have fun, and share what you've learned with others.

*/





* {	margin:0; padding:0; outline:none; border:0; list-style-type:none !important; text-decoration:none; list-style-image:none !important;}



html{font-size:100%; -webkit-text-size-adjust:100%; -ms-text-size-adjust:100%;}

header, section, footer, article, figcaption, hgroup, figure, details, aside, img, nav, time {display:block;}

audio, canvas, video {display:inline-block;*display:inline;*zoom:1;}

audio:not([controls]){display:none;}

[hidden]{display:none;}





/* EMBED FONTS

-------------------------------------------------------------- */

@font-face {
    font-family: 'exolight';
    src: url('fonts/exo-light-webfont.eot');
    src: url('fonts/exo-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/exo-light-webfont.woff') format('woff'),
         url('fonts/exo-light-webfont.ttf') format('truetype'),
         url('fonts/exo-light-webfont.svg#exolight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'exomedium';
    src: url('fonts/exo-medium-webfont.eot');
    src: url('fonts/exo-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/exo-medium-webfont.woff') format('woff'),
         url('fonts/exo-medium-webfont.ttf') format('truetype'),
         url('fonts/exo-medium-webfont.svg#exomedium') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'exoregular';
    src: url('fonts/exo-regular-webfont.eot');
    src: url('fonts/exo-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/exo-regular-webfont.woff') format('woff'),
         url('fonts/exo-regular-webfont.ttf') format('truetype'),
         url('fonts/exo-regular-webfont.svg#exoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
	font-family:'din_mediumregular';
	src: url('fonts/din_medium-webfont.eot');
	src: url('fonts/din_medium-webfont.eot?#iefix') format('embedded-opentype'),
		 url('fonts/din_medium-webfont.woff') format('woff'),
		 url('fonts/din_medium-webfont.ttf') format('truetype'),
		 url('fonts/din_medium-webfont.svg#din_mediumregular') format('svg');
	font-weight:normal;
	font-style:normal;
}

@font-face {

    font-family:'dinbold';

    src: url('fonts/din-bold-webfont.eot');

    src: url('fonts/din-bold-webfont.eot?#iefix') format('embedded-opentype'),

         url('fonts/din-bold-webfont.woff') format('woff'),

         url('fonts/din-bold-webfont.ttf') format('truetype'),

         url('fonts/din-bold-webfont.svg#dinbold') format('svg');

    font-weight: normal;

    font-style: normal;

}



@font-face {

    font-family:'dinregular';

    src: url('fonts/din-regular-webfont.eot');

    src: url('fonts/din-regular-webfont.eot?#iefix') format('embedded-opentype'),

         url('fonts/din-regular-webfont.woff') format('woff'),

         url('fonts/din-regular-webfont.ttf') format('truetype'),

         url('fonts/din-regular-webfont.svg#dinregular') format('svg');

    font-weight:normal;

    font-style:normal;

}





/* STANDARD STYLES

-------------------------------------------------------------- */



body {font-family:'exomedium'; font-size:16px; color:#4e5156; background:#fff; min-width:980px; position:relative; overflow-x:hidden}



hr {display:none;}

.clear {clear:both; margin:0 !important; padding:0 !important}

.trava {width:980px; margin:0 auto; position:relative; clear:both}

.esconde {width:0; height:0; position:absolute; overflow:hidden; display:block;}

.noborder {border:0 !important;}


a.gray-underline {
    color: #4e5156;
    text-decoration: underline;
}

a.gray-underline:hover {
    text-decoration: none;
}


/* HEADER

-------------------------------------------------------------- */



body > header {height:150px; background:#f8f7f5; position:relative; z-index:3}

body > header hgroup {width:279px; height:74px; float:left; margin: 20px 0 0 0;}



/* MENU PRINCIPAL */



body > header nav.menu {float:right; padding: 56px 0 0 0; width:660px;}



body > header nav.menu > div > ul {float:left;}

body > header nav.menu > div > ul > li {float:left; position:static;}

body > header nav.menu > div > ul > li > a {font-size:13px; text-transform:uppercase; display:block; padding:10px 7px; color:#4e5156;}



body > header nav.menu > div > ul > li > ul {position:absolute; background:#f8f7f5; width:305px; display:none;}

body > header nav.menu > div > ul > li > ul li {line-height:40px; border-top:1px solid #e5e5e5; font-size:13px; text-transform:uppercase}

body > header nav.menu > div > ul > li > ul > li:first-child {border:0;}

body > header nav.menu > div > ul > li > ul li a {color:#4e5156; padding:0 0 0 15px; display:block}

body > header nav.menu > div > ul > li > ul li ul li a {padding:0 0 0 30px; color:#ea4332;}



body > header nav.menu > div > ul > li.current-menu-item > a {background:#eb4331 !important; color:#fff !important}

body > header nav.menu > div > ul > li.current-menu-parent > a {background:#eb4331 !important; color:#fff !important}

body > header nav.menu > div > ul > li > ul > li.current-menu-item > a {background:#eb4331 !important; color:#fff !important}

body > header nav.menu > div > ul > li > ul > li > ul li.current-menu-item a {background:#eb4331 !important; color:#fff !important}



body > header nav.menu > div > ul > li:hover > a {background:#eb4331 !important; color:#fff !important}



body > header nav.menu > div > ul > li:hover ul {display:block;}

body > header nav.menu > div > ul > li > ul li a:hover {background:#eb4331 !important; color:#fff !important}



body > header nav.menu > form {float:right; padding:6px 0 0 0}

body > header nav.menu > form input[type="text"] {

	float:left;

	padding:0 10px;

	height:18px;

	line-height:18px;

	width:60px;

	font-family:'exomedium';

	font-size:12px;

	text-transform:uppercase;

	background:#fff;

	color:#b2b2b3;

	border-radius:10px;

	border-top:1px solid #dfdedc;

	border-left:1px solid #dfdedc;

}

body > header nav.menu > form input[type="submit"] {width:13px; height:18px; cursor:pointer; float:left; background:url(images/bot_busca.png); text-indent:-999999px; margin:0 0 0 3px}



/* MENU ADMIN */

body > header nav.adm {position: relative; width: 100%;height: 25px;right: 0; top: 0;background-color: #fff;padding-top: 2px;}

body > header nav.adm div ul {
    position: absolute;
    right: 210px;
}

body > header nav.adm ul li {float:left; text-transform:uppercase; font-size:11px; padding: 0; margin: 0;border-left:1px solid #c5c5c5; /* height: 17px; */ /* line-height:16px; */ color:#7b7d80;}

body > header nav.adm ul li ul li {border-left:none;}

body > header nav.adm ul li:first-child {border:0;}

body > header nav.adm ul li a {color:#7b7d80; display:block; padding:0 15px 0 0}

body > header nav.adm ul li a:hover {color: #fff; text-decoration: none;}

body > header nav.adm > div > ul > li > a { text-transform:uppercase; display:block; padding: 4px 15px; color:#4e5156;}

body > header nav.adm > div > ul > li > ul {position:absolute; left: 0;background: #fff; width: 119px; z-index: 9;display:none;}

body > header nav.adm > div > ul > li > ul li {line-height: 38px; border-top: 1px solid #333; font-size:13px; text-transform:uppercase;width: 100%;}

body > header nav.adm > div > ul > li > ul > li:first-child {border:0;}

body > header nav.adm > div > ul > li > ul li a {color:#4e5156; padding: 0 15px; display:block}

body > header nav.adm > div > ul > li > ul li ul li a {padding:0 0 0 30px; color:#ea4332;}

body > header nav.adm > div > ul > li:hover > a {background: #333 !important; color:#fff !important}

body > header nav.adm > div > ul > li:hover ul {display:block;}

body > header nav.adm > div > ul > li > ul li a:hover {background: #333 !important; color:#fff !important}


/* FORM */

body > header nav.adm div ul > form {float: left; padding: 0;}

body > header nav.adm div ul > form input[type="text"] {

	float:left;

	padding:0 10px;

	height:18px;

	line-height:18px;

	width: 140px;

	font-family:'exomedium';

	font-size:12px;

	text-transform:uppercase;

	background:#fff;

	color:#b2b2b3;

	border-radius:10px;

	border-top:1px solid #dfdedc;

	border-left:1px solid #dfdedc;

}

body > header nav.adm div ul > form input[type="submit"] {width:13px; height:18px; cursor:pointer; float:left; background:url(images/bot_busca.png); text-indent:-999999px; margin:0 0 0 3px}


/* HOME - WEBDOOR

-------------------------------------------------------------- */



section#webdoor {width:100%; height:443px; text-align:center; position:relative;}

section#webdoor ul {position:absolute; overflow:hidden; width:100%; height:443px; min-width:980px}

section#webdoor ul li {position:absolute; z-index:0; opacity:0; left:50%; margin:0 0 0 -960px;}

section#webdoor ul li a {display:block;}

section#webdoor ul li a img {display:inline-block}



section#webdoor ul li:first-child {z-index:1; opacity:1}



section#webdoor div.trava {z-index:2}

section#webdoor div.controles {position:absolute; width:53px; height:52px; right:0; top:391px; background:#eb4331;}

section#webdoor div.controles a {display:block; position:absolute; width:6px; height:8px;}

section#webdoor div.controles a span {display:none;}



section#webdoor div.controles a.anterior {top:22px; left:8px; background:url(images/seta-anterior.png)}

section#webdoor div.controles a.proximo {top:22px; right:6px; background:url(images/seta-proxima.png)}



section#webdoor div.controles div.count {position:absolute; width:28px; height:16px; line-height:16px; font-size:14px; color:#fff; text-align:center; text-align:center; top:18px; left:13px; letter-spacing:-1px}





/* HOME - SPOTS

-------------------------------------------------------------- */



section#spots {height:376px; background:#f8f7f5; text-align:center;}

section#spots article {display:inline-block; text-align:right; padding:35px 0 0 0; height:341px;}

section#spots article div.content {float:left;}

section#spots article div.content h1 {font-size:12px; text-transform:uppercase; font-weight:normal;}

section#spots article div.content h2 {font-size:20px; text-transform:uppercase; font-weight:normal; padding:3px 0 0 0}

section#spots article div.content figure {width:200px; height:200px; background:#4e5156; margin:30px 0 0 0}



section#spots article aside {float:right; width:65px; position:relative;}

section#spots article aside > a {display:block; position:absolute; width:24px; height:26px; top:155px; z-index:1}

section#spots article aside > a.close {display:none; opacity:0;}



section#spots article aside div {position:relative; overflow:hidden; opacity:0;}

section#spots article aside div.menu-passageiros-container ul {padding:119px 25px 0 25px;}

section#spots article aside div.menu-passageiros-home-container ul {padding:119px 25px 0 25px;}

section#spots article aside div.menu-logistica-container ul {padding:65px 25px 0 25px;}

section#spots article aside div.menu-logistica-home-container ul {padding:65px 25px 0 25px;}

section#spots article aside div ul li a {color:#eb4331; text-transform:uppercase; font-size:14px; line-height:25px;}

section#spots article aside div ul li a:hover {text-decoration:underline;}



section#spots article.passageiros {border-right:1px solid #c5c5c5;}

section#spots article.passageiros div.content {float:left;}

section#spots article.passageiros div.content h1,

section#spots article.passageiros div.content h2 {padding-right:35px;}

section#spots article.passageiros div.content figure {float:right;}

section#spots article.passageiros aside a.close {right:-1px;}

section#spots article.passageiros aside div {text-align:left;}



section#spots article.logistica div.content {float:left;}

section#spots article.logistica div.content h1,

section#spots article.logistica div.content h2 {text-align:left; padding-left:35px;}

section#spots article.logistica div.content figure {float:left;}

section#spots article.logistica aside {float:left;}

section#spots article.logistica aside a.close {left:-5px;}

section#spots article.logistica aside a.open {right:0;}

section#spots article.logistica aside div {text-align:right;}





/* HOME - OPORTUNIDADES

-------------------------------------------------------------- */



section#oportunidades {padding:45px 0 20px 0;}

section#oportunidades div.trava > h1 {text-transform:uppercase; font-size:14px; text-align:center; font-weight:normal; padding:0 0 45px 0;}



/* GLOBUS */



section#oportunidades article.globus {float:left; width:385px; padding:0 0 0 70px;}

section#oportunidades article.globus h1 {text-transform:uppercase; font-size:20px; font-weight:normal;}

section#oportunidades article.globus h2 {text-transform:uppercase; font-size:101px; font-weight:normal; letter-spacing:-5.5px; line-height:95px;}

section#oportunidades article.globus p {font-size:18px; font-family:'exoregular'; padding:0 0 25px 0}

section#oportunidades article.globus a {display:block; height:54px; line-height:54px; color:#fff; padding:0 30px; font-size:22px; text-transform:uppercase; background:#eb4331;}

section#oportunidades article.globus a:hover {background:#ff7061; text-decoration: none; color: #fff;}



/* ASIDE */

section#oportunidades aside {float:right; width: 444px;}

section#oportunidades aside article {padding:0 0 40px 0;}

section#oportunidades aside article h1 {font-size:16px; font-weight:normal; font-family:'exoregular'; padding:0 0 3px 0}

section#oportunidades aside article h2 {text-transform:uppercase; font-size:30px; font-weight:normal;}

section#oportunidades aside article p {font-size:17px; font-family:'exoregular'; padding:2px 0 10px 0}

section#oportunidades aside article a {text-transform:uppercase; color:#eb4331;}

section#oportunidades aside article a:hover {color:#ff7061; text-decoration:underline;}

section#oportunidades article.inteligence h1 {font-size:16px; font-weight:normal; font-family:'exoregular'; padding:0 0 3px 0}

section#oportunidades article.inteligence h2 {text-transform:uppercase; font-size:30px; font-weight:normal;}

section#oportunidades article.inteligence p {font-size:17px; font-family:'exoregular'; padding:2px 0 10px 0}

section#oportunidades article.inteligence a {text-transform:uppercase; color:#eb4331;}

section#oportunidades article.inteligence a:hover {color:#ff7061; text-decoration:underline;}




/* HOME - OPORTUNIDADES

-------------------------------------------------------------- */



section#contatos {height:116px; background:#f8f7f5;}

section#contatos div div {float:left; width:490px;}



/* TEL */



section#contatos div.duvidas {padding:0 0 0 150px; height:116px; background:url(images/bg_telefones.jpg) no-repeat left top; float:left; width:342px; border-right:1px solid #c5c5c5}

section#contatos div.duvidas p {font-size:13px; text-transform:uppercase; line-height:24px; padding:35px 0 0 0;}

section#contatos div.duvidas p span {display:block; font-size:26px;}



/* EMAIL */



section#contatos div.email {padding:0 0 0 175px; height:116px; background:url(images/bg_email.jpg) no-repeat left top; float:right; width:310px;}

section#contatos div.email p {font-size:13px; text-transform:uppercase; line-height:24px; padding:35px 0 0 0;}

section#contatos div.email a {text-transform:uppercase; color:#eb4331; font-size:13px;}

section#contatos div.email a:hover {color:#ff7061; text-decoration:underline;}





/* HOME - PARTS

-------------------------------------------------------------- */



section#parts {padding:85px 0 0 0;}



/* INTELIGENCE */



section#parts article.inteligence {height:350px;}

section#parts article.inteligence div {float:left; padding:0 0 0 71px; width:418px;}

section#parts article.inteligence div h1 {text-transform:uppercase; font-size:60px; line-height:59px; font-weight:normal;}

section#parts article.inteligence div p {font-size:18px; font-family:'exoregular'; padding:0 0 15px 0}

section#parts article.inteligence div a {display:inline-block; height:54px; line-height:54px; color:#fff; padding:0 30px; font-size:22px; text-transform:uppercase; background:#eb4331;}

section#parts article.inteligence div a:hover {background:#ff7061;}

section#parts article.inteligence figure {float:right; width:490px;}

section#parts article.inteligence figure img {width:371px; height:230px; margin:15px 0 0 50px;}



/* DEPOIMENTOS */



section#parts div.slide {position:relative; padding:0 0 100px 0}

section#parts div.slide h1 {text-transform:uppercase; font-size:14px; text-align:center; font-weight:normal; padding:0 0 45px 0;}

section#parts div.slide div.scroll {width:840px; height:82px; overflow:hidden; margin:0 auto;}

section#parts div.slide div.scroll ul li {float:left; width:160px;}

section#parts div.slide div.scroll ul li img {margin:0 auto; max-height:82px;}



section#parts div.slide div.controles {position:relative;}

section#parts div.slide div.controles a {display:block; position:absolute; width:23px; height:23px; top:-55px;}

section#parts div.slide div.controles a span {display:none;}

section#parts div.slide div.controles a.anterior {background:url(images/seta_slide_anterior.png); left:0;}

section#parts div.slide div.controles a.proximo {background:url(images/seta_slide_proximo.png); right:0;}



section#parts div.slide div.tooltip {width:840px; margin:0 auto; height:0; overflow:hidden; margin-top:10px}

section#parts div.slide div.tooltip div {background:rgba(248,247,245,1); padding:15px 20px;}

section#parts div.slide div.tooltip div p {font-size:14px; color:#7b7d80; line-height:16px; font-family:'exoregular';}

section#parts div.slide div.tooltip div p strong {display:block; color:#4e5156; padding:10px 0 0 0; font-weight:normal}



section#parts div.slide div.vermais {clear:both; text-align:center; padding:30px 0 0 0;}

section#parts div.slide div.vermais a {text-transform:uppercase; color:#eb4331;}

section#parts div.slide div.vermais a:hover {color:#ff7061; text-decoration:underline;}





/* HEADER INTERNAS

-------------------------------------------------------------- */



section#header {width:100%; height:412px; position:relative; overflow:hidden; min-width:980px;}

section#header figure {position:absolute; width:1900px; position:absolute; left:50%; margin:0 0 0 -960px;}

section#header figure img {height:412px; margin:0 auto;}





/* EMPRESA

-------------------------------------------------------------- */



section#empresa p {font-size:16px; font-family:'exoregular'; line-height:16px;}



section#empresa div.bg {background:#f8f7f5;}

section#empresa div.trava {width:834px;}



/* HEADER */



section#empresa div#headerTxt {height:412px; position:relative; overflow:hidden; min-width:980px;}



section#empresa div#headerTxt article {position:absolute; z-index:1; width:870px; left:50%; margin:0 0 0 -490px; padding:50px 55px 0 55px;}

section#empresa div#headerTxt article h1 {text-transform:uppercase; font-weight:normal; font-size:20px; line-height:34px; color:#fff}

section#empresa div#headerTxt article h2 {text-transform:uppercase; font-weight:normal; font-size:34px; line-height:37px; padding:0 0 15px 0; color:#fff}

section#empresa div#headerTxt article p {line-height:18px; font-size:16px; font-family:'exoregular'; padding:0 0 15px 0; color:#fff}



section#empresa div#headerTxt figure {position:absolute; z-index:0; width:1900px; position:absolute; left:50%; margin:0 0 0 -960px;}

section#empresa div#headerTxt figure img {height:412px; margin:0 auto;}





/* MISSÃO / VISÃO / VALORES */



section#empresa div.trava article {padding:50px 15px 0 15px;}

section#empresa div.trava article h1 {text-transform:uppercase; font-weight:normal; font-size:16px;}

section#empresa div.trava article h1 span {display:block; font-size:30px; padding:0 0 10px 0}







section#empresa div.trava article.missao {float:left; width:390px;}

section#empresa div.trava article.visao {float:right; width:360px;}

section#empresa div.trava article.valores {clear:both; padding:30px 0 50px 15px;}



section#empresa div.trava article.valores ul li {background:url(images/arrow-listas.png) no-repeat left 5px; line-height:20px; font-size:16px; font-family:'exoregular'; padding:0 0 0 15px}



/* RELACIONAMENTO */



section#empresa article.relacionamentos,

section#empresa article.metodologia {width:804px; padding:40px 0; margin:0 auto; border-bottom:1px solid #c5c5c5;}

section#empresa article.relacionamentos h1,

section#empresa article.metodologia h1 {text-transform:uppercase; font-weight:normal; font-size:20px; padding:0 0 10px 0}

section#empresa article.relacionamentos p,

section#empresa article.metodologia p {line-height:18px;}



/* SOLUÇÕES */



section#empresa article.solucoes {width:834px; padding:40px 0 120px 0; margin:0 auto;}

section#empresa article.solucoes figure {float:left;}

section#empresa article.solucoes div.content {float:right; width:310px; padding:42px 0 0 0;}

section#empresa article.solucoes div.content h1 {font-size:50px; color:#eb4331; text-transform:uppercase; line-height:47px; font-weight:normal;}

section#empresa article.solucoes div.content h2 {font-size:16px; color:#eb4331; text-transform:uppercase; line-height:18px; font-weight:normal; font-family:'exoregular'; padding:0 0 5px 0}



/* VÍDEOS */

section#empresa article.videos {width:834px; padding:0px 0 120px 0; margin:0 auto;}



/* GLOBUS

-------------------------------------------------------------- */



section#globus div.bg {background:#f8f7f5;}

section#globus div.bg div.trava {width:910px;}



section#globus p {font-size:16px; font-family:'exoregular'; line-height:16px;}



section#globus div.trava article.missao {float:left; width:390px;}

section#globus div.trava article.visao {float:right; width:400px;}

section#globus div.trava article.valores {clear:both; padding:30px 0 50px 15px;}



section#globus div.trava article.valores ul li {background:url(images/arrow-listas.png) no-repeat left 5px; line-height:20px; font-size:16px; font-family:'exoregular'; padding:0 0 0 15px}



/* HEADER */



section#globus div#headerTxt {height:412px; position:relative; overflow:hidden; min-width:980px;}



section#globus div#headerTxt article {position:absolute; z-index:1; width:955px; left:50%; margin:0 0 0 -490px; padding:30px 0 0 0;}

section#globus div#headerTxt article h1 {text-transform:uppercase; font-weight:normal; font-size:91px; line-height:100px; color:#fff; float:left;}

section#globus div#headerTxt article h2 {text-transform:uppercase; font-weight:normal; font-size:34px; line-height:37px; padding:7px 0 15px 0; color:#fff; float:right; width:585px;}

section#globus div#headerTxt article p {line-height:18px; font-size:16px; font-family:'exoregular'; padding:0 0 15px 0; color:#fff; clear:both;}



section#globus div#headerTxt figure {position:absolute; z-index:0; width:1900px; position:absolute; left:50%; margin:0 0 0 -960px;}

section#globus div#headerTxt figure img {height:412px; margin:0 auto;}



/* INOVAÇÃO / BENEFÍCIOS */



section#globus div.bg div.trava article {padding:50px 50px 50px 0px;}

section#globus div.bg div.trava article h1 {text-transform:uppercase; font-weight:normal; font-size:16px; line-height:20px; padding:0 0 10px 0}

section#globus div.bg div.trava article p {font-size:16px; font-family:'exoregular'; line-height:16px;}

section#globus div.bg div.trava article ul li {background:url(images/arrow-listas.png) no-repeat left 5px; line-height:20px; font-size:16px; font-family:'exoregular'; padding:0 0 0 15px}



section#globus div.bg div.trava article.inovacao {float:left; width:360px;}

section#globus div.bg div.trava article.beneficios {float:right; width:420px;}



/* SUPORTE / TREINAMENTOS / REPORT */



section#globus article.suporte {width:910px; padding:40px 0; margin:0 auto; border-bottom:1px solid #c5c5c5;}

section#globus article.suporte h1 {text-transform:uppercase; font-weight:normal; font-size:20px; padding:0 0 10px 0}

section#globus article.suporte p {line-height:18px; font-size:16px; font-family:'exoregular';}



/* SPOTS */



section#globus section#spots {height:376px; background:#fff; text-align:center; margin:20px 0 50px 0}





/* INTELIGENCE

-------------------------------------------------------------- */



/* HEADER */



section#inteligence div#headerTxt {background:#e5e5e5; height:555px; position:relative; overflow:hidden;}



section#inteligence div#headerTxt article {float:left; width:490px; padding:55px 0 0 0;}

section#inteligence div#headerTxt article h1 {text-transform:uppercase; font-weight:normal; font-size:20px; line-height:34px;}

section#inteligence div#headerTxt article h2 {text-transform:uppercase; font-weight:normal; font-size:70px; line-height:59px; padding:0 0 25px 0}

section#inteligence div#headerTxt article p {line-height:18px; font-size:16px; font-family:'exoregular'; padding:0 0 15px 0}



section#inteligence div#headerTxt figure {width:490px; float:right;}

section#inteligence div#headerTxt figure img {max-width:490px; max-height:555px; margin:0 auto;}



/* BENEFÍCIOS / CONTATO */



section#inteligence div.content {padding:35px 0 110px 0;}



section#inteligence div.content article h1 {text-transform:uppercase; font-weight:normal; font-size:16px; line-height:20px; padding:0 0 10px 0}

section#inteligence div.content article p {font-size:16px; font-family:'exoregular'; line-height:16px;}

section#inteligence div.content article ul li {background:url(images/arrow-listas.png) no-repeat left 5px; line-height:20px; font-size:16px; font-family:'exoregular'; padding:0 0 0 15px}



section#inteligence div.content article.beneficios {float:left; padding:0 0 0 0; width:550px;}



section#inteligence div.content article.contato {float:right; width:302px; padding:30px 40px 0 0}

section#inteligence div.content article.contato h1 {font-size:26px; line-height:25px; color:#eb4331;}

section#inteligence div.content article.contato a {display:block; color:#fff; height:54px; line-height:54px; background:#eb4331; text-align:center; font-size:22px; text-transform:uppercase; margin:15px 0 0 0}

section#inteligence div.content article.contato a:hover {background:#ff7061;}





/* CONSULTORIA

-------------------------------------------------------------- */



/* HEADER */



section#consultoria div#headerTxt {background:#e5e5e5; height:555px; position:relative; overflow:hidden;}



section#consultoria div#headerTxt article {float:left; width:490px; padding:55px 0 0 0;}

section#consultoria div#headerTxt article h1 {text-transform:uppercase; font-weight:normal; font-size:20px; line-height:34px;}

section#consultoria div#headerTxt article h2 {text-transform:uppercase; font-weight:normal; font-size:70px; line-height:59px; padding:0 0 25px 0}

section#consultoria div#headerTxt article p {line-height:18px; font-size:16px; font-family:'exoregular'; padding:0 0 15px 0}



section#consultoria div#headerTxt figure {width:490px; float:right;}

section#consultoria div#headerTxt figure img {max-width:490px; max-height:555px; margin:0 auto;}



/* CONTATO */



section#consultoria div.content article {padding:30px 100px 120px 0}

section#consultoria div.content article h1 {text-transform:uppercase; font-weight:normal; font-size:20px; line-height:22px; padding:0 0 10px 0}

section#consultoria div.content article p {line-height:18px; font-size:16px; font-family:'exoregular'; padding:0 0 20px 0}

section#consultoria div.content article a {display:inline-block; width:312px; color:#fff; height:54px; line-height:54px; background:#eb4331; text-align:center; font-size:22px; text-transform:uppercase; margin:15px 0 0 0}

section#consultoria div.content article a:hover {background:#ff7061;}





/* PASSAGEIROS

-------------------------------------------------------------- */



/* HEADER */



section#solucoes div#headerTxt {background:#e5e5e5; /*height:555px;*/ position:relative; overflow:hidden;}



section#solucoes div#headerTxt article {padding:55px 0 0 0;}



section#solucoes div#headerTxt article header {height:118px;}

section#solucoes div#headerTxt article header hgroup {float:left;}

section#solucoes div#headerTxt article header hgroup h1 {text-transform:uppercase; font-weight:normal; font-size:20px; line-height:34px;}

section#solucoes div#headerTxt article header hgroup h2 {text-transform:uppercase; font-weight:normal; font-size:70px; line-height:59px; padding:0 0 25px 0}



section#solucoes div#headerTxt article header div.select {float:right; width:307px; background:url(images/bg_div_select.png) no-repeat left top; margin:29px 65px 0 0}

section#solucoes div#headerTxt article header div.select > a {display:block; height:53px; line-height:58px; padding:0 0 0 15px; font-size:13px; text-transform:uppercase; color:#4e5156}

section#solucoes div#headerTxt article header div.select > a.open {background:url(images/seta_select_open.png) no-repeat right top;}

section#solucoes div#headerTxt article header div.select > a.close {background:url(images/seta_select_close.png) no-repeat right top;}



section#solucoes div#headerTxt article header div.select nav {background:#f8f7f5; position:absolute; width:307px; height:0; overflow:hidden}

section#solucoes div#headerTxt article header div.select nav ul li {height:40px; line-height:40px; border-top:1px solid #e5e5e5;}

section#solucoes div#headerTxt article header div.select nav ul li a {display:block; padding:0 15px; font-size:13px; text-transform:uppercase; color:#4e5156}

section#solucoes div#headerTxt article header div.select nav ul li a:hover {color:#eb4331;}



section#solucoes div#headerTxt article div.content {float:right; width:345px; margin:0 25px 0 0; padding-bottom: 20px}

section#solucoes div#headerTxt article div.content h3 {text-transform:uppercase; font-weight:normal; font-size:20px; line-height:20px; padding:0 0 10px 0}

section#solucoes div#headerTxt article div.content p {line-height:18px; font-size:16px; font-family:'exoregular'; padding:0 0 20px 0}

section#solucoes div#headerTxt article div.content a {display:inline-block; width:302px; color:#fff; height:54px; line-height:54px; background:#eb4331; text-align:center; font-size:22px; text-transform:uppercase;}

section#solucoes div#headerTxt article div.content a:hover {background:#ff7061;}



section#solucoes div#headerTxt article figure {float:left;}

section#solucoes div#headerTxt article figure img {max-width:490px; max-height:555px; margin:0 auto;}



/* MÓDULOS - PRINCIPAIS */



section#solucoes div.modulos {background:#f8f7f5;}

section#solucoes div.modulos article {width:980px; margin:0 auto; padding:40px 0 40px 0; text-align:center; overflow:hidden;}



section#solucoes div.modulos article div.bloco h1 {text-transform:uppercase; font-weight:normal; font-size:20px; line-height:34px; padding:0 0 30px 0}

section#solucoes div.modulos article div.bloco h1 span {color:#eb4331;}

section#solucoes div.modulos article div.bloco {width:1100px; position:relative; left:-60px; cursor:default}

section#solucoes div.modulos article div.bloco ul {height:140px;}

section#solucoes div.modulos article div.bloco ul li {display:inline-block; width:119px; height:119px; margin:0 28px;}

section#solucoes div.modulos article div.bloco ul li div.circulo {width:119px; height:119px; border:2px solid #4e5156; border-radius:100px; position:relative;}

section#solucoes div.modulos article div.bloco ul li div.circulo span {position:absolute; width:119px; left:0; top:54px; font-size:13px; text-transform:uppercase}

section#solucoes div.modulos article div.bloco ul li div.circulo img {position:absolute; bottom:-10px; left:49px;}



section#solucoes div.modulos article div.tooltip {text-align:left; width:860px; margin:0 auto; height:0; overflow:hidden;}

section#solucoes div.modulos article div.tooltip > div div {font-size:16px; line-height:18px; font-family:'exoregular';}

section#solucoes div.modulos article div.tooltip > div div strong {display:block; color:#eb4331; font-size:18px; line-height:24px; padding:10px 0 0 0; font-weight:normal; text-transform:uppercase; font-family:'exomedium';}



/* MÓDULOS - OUTROS */



section#solucoes div.modulos article div.slide {width:860px; clear:both; padding:20px 0 0 0; margin:0 auto; position:relative;}

section#solucoes div.modulos article div.slide h1 {text-transform:uppercase; font-weight:normal; font-size:14px; line-height:30px; height:30px; background:url(images/bg_tit_modulos.png);}

section#solucoes div.modulos article div.slide h1 span {display:inline-block; height:30px; padding:0 15px; background:#f8f7f5}



section#solucoes div.modulos article div.scroll {width:860px; margin:0 auto; overflow:hidden}

section#solucoes div.modulos article div.scroll ul {height:42px; padding:20px 0 0 0}

section#solucoes div.modulos article div.scroll ul li {float:left;}

section#solucoes div.modulos article div.scroll ul li:first-child {border:0;}

section#solucoes div.modulos article div.scroll ul li div {padding:0 15px; border-left:1px solid #c5c5c5; font-size:13px; text-transform:uppercase; cursor:default}
section#solucoes div.modulos article div.scroll ul li:first-child div {border: none;}

div.descricao p { line-height:30px;}

div.descricao ul li {background:url(images/arrow-listas.png) no-repeat left 5px; line-height:20px; font-size:16px; font-family:'exoregular'; padding:0 0 0 15px}





section#solucoes div.modulos article div.controles a {position:absolute; display:block; width:24px; height:25px; top:63px}

section#solucoes div.modulos article div.controles a span {display:none;}

section#solucoes div.modulos article div.controles a.anterior {background:url(images/bot_seta_esq_01.jpg); left:-30px}

section#solucoes div.modulos article div.controles a.proximo {background:url(images/bot_seta_dir_01.jpg); right:-30px}





/* COMPLEMENTO */



section#solucoes div.complemento {width:836px; margin:0 auto; padding:0 0 60px 0}



/* ASIDE */



section#solucoes div.complemento article.inteligence,

section#solucoes div.complemento article.consultoria {width:370px;}

section#solucoes div.complemento article {padding:60px 0 0 0;}

section#solucoes div.complemento article h1 {font-size:16px; font-weight:normal; font-family:'exoregular'; padding:0 0 3px 0}

section#solucoes div.complemento article h2 {text-transform:uppercase; font-size:30px; font-weight:normal; padding:0 0 10px 0}

section#solucoes div.complemento article p {font-size:16px; font-family:'exoregular'; padding:2px 0 15px 0}

section#solucoes div.complemento article a {text-transform:uppercase; color:#eb4331; font-size:14px;}

section#solucoes div.complemento article a:hover {color:#ff7061; text-decoration:underline;}



section#solucoes div.complemento article.inteligence {float:left;}

section#solucoes div.complemento article.consultoria {float:right;}



/* GLOBUS */



section#solucoes div.complemento article.globus {padding:60px 0 0 0; clear:both;}

section#solucoes div.complemento article.globus div {float:left; width:418px;}

section#solucoes div.complemento article.globus div h1 {text-transform:uppercase; font-size:60px; line-height:59px; font-weight:normal;}

section#solucoes div.complemento article.globus div p {font-size:18px; font-family:'exoregular'; padding:0 0 15px 0}

section#solucoes div.complemento article.globus div a {display:inline-block; height:54px; line-height:54px; color:#fff; padding:0 30px; font-size:22px; text-transform:uppercase; background:#eb4331;}

section#solucoes div.complemento article.globus div a:hover {background:#ff7061;}

section#solucoes div.complemento article.globus figure {float:right; width:418px;}

section#solucoes div.complemento article.globus figure img {width:371px; height:230px; float:right}





/* IMPRENSA

-------------------------------------------------------------- */



/* HEADER */



section#imprensa div#headerTxt {background:#e5e5e5; position:relative; overflow:hidden;}



section#imprensa div#headerTxt article {padding:55px 0 0 0; width:866px; margin:0 auto;}

section#imprensa div#headerTxt article header h1 {font-weight:normal; font-size:20px; line-height:34px;}

section#imprensa div#headerTxt article header h1 span {text-transform:uppercase; font-size:70px; line-height:59px; padding:0 0 10px 0; display:block}

section#imprensa div#headerTxt article header p {font-size:18px; color:#4e5156; width:565px}



/* ACCORDEON */



section#imprensa div#headerTxt article > div {padding:40px 0 25px 0;}

section#imprensa div#headerTxt article > div h2 {font-weight:normal; font-size:20px; line-height:34px;}

section#imprensa div#headerTxt article > div ul li {padding:20px 0; clear:both; border-top:1px solid #c5c5c5}

section#imprensa div#headerTxt article > div ul li:first-child {border:0;}

section#imprensa div#headerTxt article > div ul li a {display:block; min-height:25px; text-transform:uppercase; font-size:16px; color:#eb4331; padding:0 0 0 40px; line-height:25px}

section#imprensa div#headerTxt article > div ul li a:hover {text-decoration:underline;}

section#imprensa div#headerTxt article > div ul li a.open {background:url(images/accordeon_open.jpg) no-repeat left top;}

section#imprensa div#headerTxt article > div ul li a.close {background:url(images/accordeon_close.jpg) no-repeat left top;}

section#imprensa div#headerTxt article > div ul li time {display:block; text-transform:uppercase; font-size:14px; color:#eb4331; padding:0 0 0 40px}

section#imprensa div#headerTxt article > div ul li div.bloco {overflow:hidden; height:0; padding:0 0 0 40px}

section#imprensa div#headerTxt article > div ul li div.bloco p {line-height:18px; font-size:16px; font-family:'exoregular'; padding:10px 0}



/* GALERIA */



section#imprensa article.galeria {background:#fff; width:100%; padding:35px 0 0 0}

section#imprensa article.galeria div {width:866px; margin:0 auto; overflow:hidden;}

section#imprensa article.galeria div h2 {font-weight:normal; font-size:20px; line-height:34px; text-transform:uppercase; padding:0 0 20px 0}

section#imprensa article.galeria div ul {width:1000px;}

section#imprensa article.galeria div ul li {float:left; width:365px; margin:0 135px 0 0; height:235px;}

section#imprensa article.galeria div ul li figure img {width:365px; height:120px;}

section#imprensa article.galeria div ul li figure figcaption {padding:10px 0 0 0; line-height:18px; font-size:16px;}

section#imprensa article.galeria div ul li figure figcaption a {display:block; color:#eb4331; text-transform:uppercase; padding:3px 0 0 0; font-size:14px}





/* PUBLICAÇÕES

-------------------------------------------------------------- */



/* HEADER */



section#publicacoes div#headerTxt {background:#e5e5e5; position:relative; overflow:hidden;}



section#publicacoes div#headerTxt article {padding:55px 0 30px 0; width:866px; margin:0 auto;}

section#publicacoes div#headerTxt article header h1 {font-weight:normal; font-size:20px; line-height:34px;}

section#publicacoes div#headerTxt article header h1 span {text-transform:uppercase; font-size:70px; line-height:59px; padding:0 0 10px 0; display:block}

section#publicacoes div#headerTxt article header p {font-size:18px; color:#4e5156; width:565px}



/* ACCORDEON */



section#publicacoes div#headerTxt article > div {padding:40px 0 25px 0;}

section#publicacoes div#headerTxt article > div h2 {font-weight:normal; font-size:20px; line-height:34px;}

section#publicacoes div#headerTxt article > div ul {display:none;}

section#publicacoes div#headerTxt article > div ul li {padding:20px 0; clear:both; border-top:1px solid #c5c5c5}

section#publicacoes div#headerTxt article > div ul li a {display:block; min-height:25px; text-transform:uppercase; font-size:16px; color:#eb4331; padding:0 0 0 40px; line-height:25px}

section#publicacoes div#headerTxt article > div ul li a:hover {text-decoration:underline;}

section#publicacoes div#headerTxt article > div ul li a.open {background:url(images/accordeon_open.jpg) no-repeat left top;}

section#publicacoes div#headerTxt article > div ul li a.close {background:url(images/accordeon_close.jpg) no-repeat left top;}

section#publicacoes div#headerTxt article > div ul li time {display:block; text-transform:uppercase; font-size:14px; color:#eb4331; padding:0 0 0 40px}

section#publicacoes div#headerTxt article > div ul li div.bloco {overflow:hidden; height:0; padding:0 0 0 40px}

section#publicacoes div#headerTxt article > div ul li div.bloco p {line-height:18px; font-size:16px; font-family:'exoregular'; padding:10px 0}



section#publicacoes div#headerTxt article > div ul[data-bloco="1"] {display:block;}

section#publicacoes div#headerTxt article > div ul[data-bloco="1"] li:first-child {border:0;}



/* LOAD MORE */



section#publicacoes div.more {width:920px; margin:0 auto; padding:10px 0 90px 0;}

section#publicacoes div.more a {

	display:block;

	width:300px;

	height:54px;

	line-height:57px;

	color:#fff;

	text-transform:uppercase;

	background:#eb4331;

	text-align:center;

	font-size:22px;

}

section#publicacoes div.more a:hover {background:#ff6858;}





/* CONTATO

-------------------------------------------------------------- */



/* HEADER */



section#contato div#headerTxt {background:#e5e5e5; position:relative; overflow:hidden;}



section#contato div#headerTxt article {padding:55px 0 205px 0; width:871px; margin:0 auto;}

section#contato div#headerTxt article header h1 {font-weight:normal; font-size:20px; line-height:34px;}

section#contato div#headerTxt article header h1 span {text-transform:uppercase; font-size:70px; line-height:59px; padding:0 0 10px 0; display:block}

section#contato div#headerTxt article header p {font-size:18px; color:#4e5156;}



/* FORM */



section#contato form {padding:50px 0 0 0;}

section#contato form fieldset {float:left;}

section#contato form fieldset.first {width:346px;}

section#contato form fieldset.second {width:517px; margin:0 0 0 8px;}

section#contato form fieldset > p {min-height:60px; display:block; clear:both}

section#contato form fieldset input[type=text],

section#contato form fieldset input[type=email] {

	width:320px;

	height:53px;

	line-height:53px;

	padding:0 13px;

	font-size:13px;

	text-transform:uppercase;

	color:#4e5156;

	font-family:'exomedium';

}

section#contato form fieldset textarea {

	width:491px;

	height:150px;

	line-height:18px;

	padding:13px;

	font-size:13px;

	text-transform:uppercase;

	color:#4e5156;

	font-family:'exomedium';

	resize: none;

}



/* SELECT */



section#contato form fieldset div.select {min-height:60px; display:block; clear:both; position:relative;}

section#contato form fieldset div.select > span {display:block; float:left;}

section#contato form fieldset div.select > span input {width:267px; float:left;}

section#contato form fieldset div.select a.open {display:block; width:53px; height:53px; float:right}

section#contato form fieldset div.select a.open.down {background:url(images/seta-select.jpg);}

section#contato form fieldset div.select a.open.up {background:url(images/seta-select-up.jpg);}

section#contato form fieldset div.select a.open span {display:none;}

section#contato form fieldset div.select div {position:absolute; top:53px; overflow:hidden; height:0; z-index: 10;}

section#contato form fieldset div.select div ul {width:346px; background:#eb4331;}

section#contato form fieldset div.select div ul li {border-top:1px solid #e5e5e5;}

section#contato form fieldset div.select div ul li a {color:#fff; display:block; padding:15px 20px; font-size:13px; line-height:16px; text-transform:uppercase;}

section#contato form fieldset div.select div ul li a:hover {background:#ff6e5f}



/* SUBMIT */



section#contato form fieldset input[type="submit"] {

	float:right;

	height:45px;

	line-height:45px;

	width:139px;

	text-align:center;

	color:#fff;

	font-size:18px;

	text-transform:uppercase;

	font-family:'exomedium';

	background:#eb4331;

	cursor:pointer;

	margin:8px 0 0 0;

}





/* BUSCA

-------------------------------------------------------------- */



/* HEADER */



section#busca div#headerTxt {background:#fff; position:relative; overflow:hidden; padding:0 0 140px 0}



section#busca div#headerTxt article {padding:55px 0 0 0; width:866px; margin:0 auto;}

section#busca div#headerTxt article header h1 {font-weight:normal; font-size:20px; line-height:34px; float:left;}

section#busca div#headerTxt article header h1 span {text-transform:uppercase; font-size:70px; line-height:59px; padding:0 0 10px 0; display:block}



/* PAGINAÇÃO */



section#busca div#headerTxt article div.wp-pagenavi {float:right; padding:40px 0 0 0}

section#busca div#headerTxt article header div.wp-pagenavi {float:right; padding:67px 0 0 0}



div.wp-pagenavi a,

div.wp-pagenavi span {font-family:'exoregular'; color:#383b3e; font-size:16px;}

div.wp-pagenavi span {color:#eb4331; padding:0 2px;}

div.wp-pagenavi a.first,

div.wp-pagenavi a.anterior {display:inline-block; line-height:14px; height:14px; background:url(images/nav-anterior.jpg) no-repeat left center; padding:0 0 0 20px; margin:0 13px 0 0}

div.wp-pagenavi a.last,

div.wp-pagenavi a.proximo {display:inline-block; line-height:14px; height:14px; background:url(images/nav-prox.jpg) no-repeat right center; padding:0 20px 0 0; margin:0 0 0 13px}

div.wp-pagenavi a.page {padding:0 2px;}



/* ACCORDEON */



section#busca div#headerTxt article ul {clear:both;}

section#busca div#headerTxt article ul li {padding:20px 0; clear:both; border-bottom:1px solid #c5c5c5}

section#busca div#headerTxt article ul li a {

	display:block;

	min-height:25px;

	text-transform:uppercase;

	font-size:16px;

	color:#eb4331;

	padding:0 0 10px 40px;

	line-height:20px;

	background:url(images/accordeon_open.jpg) no-repeat left top;

}

section#busca div#headerTxt article ul li a span {font-size:14px; color:#4e5257;}

section#busca div#headerTxt article ul li a:hover {text-decoration:underline;}

section#busca div#headerTxt article ul li p {padding:3px 0 0 40px; line-height:18px; font-size:16px; font-family:'exoregular';}





/* NOTÍCIAS PÁG 1

-------------------------------------------------------------- */



/* HEADER */



section#noticiasPag1 > header {background:#e5e5e5; position:relative;}

section#noticiasPag1 > header h1 {font-weight:normal; font-size:20px; line-height:34px; width:920px; margin:0 auto; padding:55px 0 20px 0}

section#noticiasPag1 > header h1 span {text-transform:uppercase; font-size:65px; line-height:59px; padding:0 0 10px 0; display:block}



section#noticiasPag1 div.news {position:relative;}



section#noticiasPag1 div.news > article div.trava {width:920px;}



section#noticiasPag1 div.news article h2, section#noticiasPag1 div.news article h2 a {color: #4e5156; font-weight:normal; font-size:20px; line-height:24px; text-transform:uppercase;}

section#noticiasPag1 div.news article time {display:block; font-size:14px; color:#eb4331; text-transform:uppercase; padding:0 0 8px 0}

section#noticiasPag1 div.news article p {padding:0 0 10px 0; line-height:19px; font-size:16px; font-family:'exoregular';}

section#noticiasPag1 div.news article figcaption {text-transform:uppercase; line-height:16px; font-size:14px; padding:11px 0 0 0}

section#noticiasPag1 div.news article a {line-height:16px; font-size:14px; color:#eb4331; text-transform:uppercase;}

section#noticiasPag1 div.news article div.text p a {text-transform:none;}



/* NOTÍCIAS */



section#noticiasPag1 div.news article div.content {position:relative; padding:40px 0 40px 0; border-top:1px solid #dcdcdc}

section#noticiasPag1 div.news article div.content figure {display:none}



/* NOTÍCIA 1 */



section#noticiasPag1 div.news > article:first-child {background:#e5e5e5; padding:0 0 34px 0; min-height: 270px;}

section#noticiasPag1 div.news > article:first-child div.content figure {float:left; margin:0 60px 20px 0; display:block;}

section#noticiasPag1 div.news > article:first-child div.content figure img {width:500px; height:250px;}

section#noticiasPag1 div.news > article:first-child div.content {border:0; padding:0;}

section#noticiasPag1 div.news > article:first-child div.content > a {text-transform:uppercase; line-height:16px; font-size:14px; color:#eb4331;}

section#noticiasPag1 div.news > article:first-child div.content div.text {overflow:hidden; margin:0 0 5px 0}

section#noticiasPag1 div.news > article:first-child div.content div.text p a {line-height:16px; font-size:14px; color:#eb4331;}



/* NOTÍCIA 2 e 3 */



section#noticiasPag1 div.cinza {clear:both; background:#f6f6f6; padding:40px 0;}

section#noticiasPag1 div.cinza div.wrap {width:920px; margin:0 auto;}

section#noticiasPag1 div.cinza div.wrap article {float:left;}

section#noticiasPag1 div.cinza div.wrap article div.trava {width:auto !important; clear:none !important;}

section#noticiasPag1 div.cinza div.wrap article h2, section#noticiasPag1 div.cinza div.wrap article h2 a {color: #4e5156; font-weight:normal; font-size:20px; line-height:24px; text-transform:uppercase;}

section#noticiasPag1 div.cinza div.wrap article div.content {width:366px; position:relative; border:0; padding:0;}

section#noticiasPag1 div.cinza div.wrap article time {display:block; font-size:14px; color:#eb4331; text-transform:uppercase; padding:0 0 8px 0}

section#noticiasPag1 div.cinza div.wrap article p {padding:0 0 10px 0; line-height:19px; font-size:16px; font-family:'exoregular';}

section#noticiasPag1 div.cinza div.wrap article div.content figure {padding:10px 0 15px 0; display:block;}

section#noticiasPag1 div.cinza div.wrap article div.content figure img {width:366px; position:relative;}

section#noticiasPag1 div.cinza div.wrap article div.content figure figcaption {display:none;}

section#noticiasPag1 div.cinza div.wrap article div.content header {height:auto; padding:0 0 15px 0}

section#noticiasPag1 div.cinza div.wrap article div.content div.text {margin:0 0 10px 0}

section#noticiasPag1 div.cinza div.wrap article div.content > a {text-transform:uppercase; line-height:16px; font-size:14px; color:#eb4331;}



section#noticiasPag1 div.cinza div.wrap article:first-child {margin:0 182px 0 0;}



/* NOTÍCIA 4 */



section#noticiasPag1 div.news article:first-child + div + article {clear:both;}

section#noticiasPag1 div.news article:first-child + div + article div.content {border:0}



/* LOAD MORE */



section#noticiasPag1 div.more {width:920px; margin:0 auto; padding:10px 0 90px 0;}

section#noticiasPag1 div.more a {

	display:block;

	width:300px;

	height:54px;

	line-height:57px;

	color:#fff;

	text-transform:uppercase;

	background:#eb4331;

	text-align:center;

	font-size:22px;

}

section#noticiasPag1 div.more a:hover {background:#ff6858;}



section#noticiasPag1 div.more div.old {float:left;}

section#noticiasPag1 div.more div.new {float:right;}





/* NOTÍCIAS PÁG LISTA MAIS

-------------------------------------------------------------- */



section#noticiasPag2 > header {display:none}



section#noticiasPag2 div.news {position:relative; padding:20px 0;}



section#noticiasPag2 div.news article {padding:30px 0; border-top:1px solid #c5c5c5; width:920px; margin:0 auto; overflow:hidden}

section#noticiasPag2 div.news > article:first-child {border:0;}

section#noticiasPag2 div.news article h2 {font-weight:normal; font-size:20px; line-height:24px; text-transform:uppercase;}

section#noticiasPag2 div.news article time {display:block; font-size:14px; color:#eb4331; text-transform:uppercase; padding:0 0 8px 0}

section#noticiasPag2 div.news article p {padding:0 0 10px 0; line-height:19px; font-size:16px; font-family:'exoregular';}

section#noticiasPag2 div.news article figure {display:none;}

section#noticiasPag2 div.news article a {line-height:16px; font-size:14px; color:#eb4331; text-transform:uppercase;}

section#noticiasPag2 div.news article div.text {width:920px;}

section#noticiasPag2 div.news article div.text p a {text-transform:none;}



/* LOAD MORE */



section#noticiasPag2 div.more {width:920px; margin:0 auto; padding:10px 0 90px 0;}

section#noticiasPag2 div.more a {

	display:block;

	width:300px;

	height:54px;

	line-height:57px;

	color:#fff;

	text-transform:uppercase;

	background:#eb4331;

	text-align:center;

	font-size:22px;

}

section#noticiasPag2 div.more a:hover {background:#ff6858;}



section#noticiasPag2 div.more div.old {float:left;}

section#noticiasPag2 div.more div.new {float:right;}





/* NOTÍCIA OPEN

-------------------------------------------------------------- */



/* HEADER */



section#noticiaOpen > header {background:#e5e5e5; position:relative;}

section#noticiaOpen > header h1 {font-weight:normal; font-size:20px; line-height:34px; width:920px; margin:0 auto; padding:55px 0 20px 0}

section#noticiaOpen > header h1 span {text-transform:uppercase; font-size:70px; line-height:59px; padding:0 0 10px 0; display:block}



section#noticiaOpen div.news {position:relative;}



section#noticiaOpen div.news div.trava {width:920px;}



section#noticiaOpen div.news article h2, section#noticiaOpen div.news article h2 a{color: #4e5156;font-weight:normal; font-size:20px; line-height:24px; text-transform:uppercase;}

section#noticiaOpen div.news article time {display:block; font-size:14px; color:#eb4331; text-transform:uppercase; padding:0 0 8px 0}

section#noticiaOpen div.news article p {padding:0 0 10px 0; line-height:19px; font-size:16px; font-family:'exoregular';}

section#noticiaOpen div.news article figcaption {text-transform:uppercase; line-height:16px; font-size:14px; padding:11px 0 0 0}

section#noticiaOpen div.news article a {line-height:16px; font-size:14px; color:#eb4331; text-transform:uppercase;}

section#noticiaOpen div.news article div.text p a {text-transform:none;}



section#noticiaOpen div.news article div.share {clear:both;}

section#noticiaOpen div.news article div.share div.facebook {float:left; width:200px}

section#noticiaOpen div.news article div.share div.addthis_toolbox {float:right; width:120px;}

section#noticiaOpen div.news article div.share div.addthis_toolbox a {margin:0 0 0 23px;}



/* NOTÍCIAS */



section#noticiaOpen div.news article div.content {position:relative; padding:40px 0 40px 0; border-top:1px solid #dcdcdc}

section#noticiaOpen div.news article div.content figure {display:none}



/* NOTÍCIA 1 */



section#noticiaOpen div.news article:first-child {background:#e5e5e5; padding:0 0 34px 0}

section#noticiaOpen div.news article:first-child div.content figure {float:left; margin:0 60px 10px 0; display:block;}

section#noticiaOpen div.news article:first-child div.content figure img {width:500px; height:250px;}

section#noticiaOpen div.news article:first-child div.content {border:0; padding:0;}

section#noticiaOpen div.news article:first-child div.content > a {text-transform:uppercase; line-height:16px; font-size:14px; color:#eb4331;}

section#noticiaOpen div.news article:first-child div.content div.text {margin:0 0 5px 0}

section#noticiaOpen div.news article:first-child div.content div.text p {padding:0 0 20px 0;}

section#noticiaOpen div.news article:first-child div.content div.text p a {line-height:16px; font-size:14px; color:#eb4331;}



/* NOTÍCIA 2 */



section#noticiaOpen div.news article:first-child + article div.content {border:0;}





/* DEPOIMENTOS

-------------------------------------------------------------- */



/* HEADER */



section#depoimentos > header {background:#e5e5e5; position:relative;}

section#depoimentos > header h1 {font-weight:normal; font-size:20px; line-height:34px; width:920px; margin:0 auto; padding:55px 0 20px 0}

section#depoimentos > header h1 span {text-transform:uppercase; font-size:70px; line-height:59px; padding:0 0 10px 0; display:block}



section#depoimentos div.news {position:relative;}



section#depoimentos div.news div.trava {width:920px;}



section#depoimentos div.news div article h2 {font-weight:normal; font-size:20px; line-height:24px; text-transform:uppercase; color:#eb4331; padding:0 151px 10px 0}

section#depoimentos div.news div article p {padding:0 0px 15px 0; line-height:19px; font-size:16px; font-family:'exoregular';}

section#depoimentos div.news div article div.text p.assina {text-transform:uppercase; font-size:14px; font-family:'exomedium'; padding: 0}

section#depoimentos div.news div article div.text p.assina span {display:block; font-size:17px; color:#eb4331; }



/* NOTÍCIAS */

section#depoimentos div.news div.text {padding: 0 5px 0px 151px}

section#depoimentos div.news div article {display:none; opacity:0;}

section#depoimentos div.news div article div.content {position:relative; padding:40px 0 40px 0; border-top:1px solid #dcdcdc}

section#depoimentos div.news div article div.content figure {float:left; width:123px; height:82px; margin:0 28px 0 0; display:block; position:relative}



/* NOTÍCIA 1 */



section#depoimentos div.news div:first-child article {display:block; opacity:1;}



section#depoimentos div.news div:first-child article:first-child {background:#e5e5e5;}

section#depoimentos div.news div:first-child article:first-child div.content {border:0; padding:40px 0 40px 0; border:0; border-bottom:1px solid #c5c5c5;}

section#depoimentos div.news div:first-child article:first-child div.content figure {float:left; width:123px; height:82px; margin:0 28px 0 0; display:block; position:relative}

section#depoimentos div.news div:first-child article:first-child div.content figure img {width:123px; height:82px;}

section#depoimentos div.news div:first-child article:first-child div.content figure div {z-index:1; position:absolute;}





/* NOTÍCIA 2 */

section#depoimentos div.news div:first-child article:first-child + article {background:#e5e5e5; padding:40px 0 40px 0;}

section#depoimentos div.news div:first-child article:first-child + article div.content {padding:0; border:0;}

section#depoimentos div.news div:first-child article:first-child + article div.content figure {float:left; width:123px; height:82px; margin:0 28px 0 0; display:block; position:relative}

section#depoimentos div.news div:first-child article:first-child + article div.content figure img {width:123px; height:82px;}

section#depoimentos div.news div:first-child article:first-child + article div.content figure div {z-index:1; position:absolute;}

/* NOTÍCIA 3 */
section#depoimentos div.news div:first-child article:first-child + article + article div.content {border:0;}

/* LOAD MORE */

section#depoimentos div.more {width:920px; margin:0 auto; padding:10px 0 90px 0;}

section#depoimentos div.more a {

	display:block;

	width:300px;

	height:54px;

	line-height:57px;

	color:#fff;

	text-transform:uppercase;

	background:#eb4331;

	text-align:center;

	font-size:22px;

}

section#depoimentos div.more a:hover {background:#ff6858;}





/* FOOTER

-------------------------------------------------------------- */



body > footer {height:380px; background:#f8f7f5;}



/* SOCIAL */



body > footer div.social {padding:63px 0 42px 0; text-align:center;}

body > footer div.social ul li {display:inline-block; margin:0 2px}



/* SITEMAP */



body > footer article.sitemap {height:80px; clear:both; width: 845px; margin: 0 auto}

body > footer article.sitemap nav {padding:10px 0; float:left}

body > footer article.sitemap nav div > ul > li {float:left; position:static;}

body > footer article.sitemap nav div > ul > li > a {display:block; font-size:13px; text-transform:uppercase; color:#4e5156; height:28px; line-height:28px; padding:0 13px; border-left:1px solid #c5c5c5;}

body > footer article.sitemap nav div > ul > li:first-child a {border:0; /*padding:0 23px 0 0*/padding:0 10px;}

body > footer article.sitemap nav div > ul > li > a:hover {text-decoration:underline;}



body > footer article.sitemap nav div > ul > li > ul {position:absolute; width:135px; display:none; bottom:115px; margin:0 0 0 10px; padding:0 0 50px 0}

body > footer article.sitemap nav div > ul > li > ul li {line-height:20px; font-size:13px; text-transform:uppercase}

body > footer article.sitemap nav div > ul > li > ul li a {color:#7b7d80; padding:0 0 0 15px; display:block; font-size:11px}

body > footer article.sitemap nav div > ul > li > ul li ul li a {padding:0 0 0 30px; color:#ea4332;}



body > footer article.sitemap nav div > ul > li.current-menu-item > a {background:#eb4331 !important; color:#fff !important}

body > footer article.sitemap nav div > ul > li.current-menu-parent > a {background:#eb4331 !important; color:#fff !important}

body > footer article.sitemap nav div > ul > li > ul > li.current-menu-item > a {background:#eb4331 !important; color:#fff !important}

body > footer article.sitemap nav div > ul > li > ul > li > ul li.current-menu-item a {background:#eb4331 !important; color:#fff !important}



body > footer article.sitemap nav ul li:hover ul {display:block}



body > footer article.sitemap nav.adm {float:left;}

body > footer article.sitemap nav.adm ul li {padding:0 0 14px 0; font-size:13px; line-height:18px; text-transform:uppercase; border:0; margin:0 0 0 15px; float:left}

body > footer article.sitemap nav.adm ul li span {display:block; font-size:15px}

body > footer article.sitemap nav.adm ul li a {display:block; color:#fff; background:#eb4331; font-size:11px; height:23px; line-height:23px; padding:0 10px}



/* COPYRIGHT */



body > footer div.copy {text-align:center; text-transform:uppercase; font-size:11px;}

body > footer div.copy p.ligue {font-size:13px; color:#4e5156; padding:0 0 23px 0;}

body > footer div.copy p.ligue span {font-family:'exomedium';}



/* MY SUITE  */

.btn-red{
    text-align: center;
    display: inline-block;
    color: #fff;
    padding: 0 30px;
    font-size: 22px;
    text-transform: uppercase;
    background: #eb4331;
    padding: 10px;
}

section#mysuite div#headerTxt article {
    position: relative;
    width: 954px;
    margin: 0 auto;
    padding: 30px 0 30px 0;
}

section#mysuite div#headerTxt article p{
    margin-bottom: 5px;
}

section#mysuite .main-video {

}

section#mysuite .main-video iframe{
    width: 640px;
    height: 360px;
}

section#mysuite aside{
    position: relative;
    float: right;
    width: 262px;
    height: 360px;
}

#mysuite h1{
    font-size: 26px;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.new-ticket {
    line-height: 20px;
    position: absolute;
    bottom: 0;
    left: 0;
}

.new-ticket span{
    text-transform: lowercase;
    font-weight: normal;
    font-size: 14px;
    padding: 10px 20px 10px 20px;
}