.tribe-events-list-separator-month{
	padding-left: 0;
}
.tribe-events-list-separator-month span{
	background-color: #fff;
	font-size: 2.0rem;
	padding: 0;
	float: left;
	text-transform: capitalize;
}
.tribe-events-list-separator-month:after{
	display: none;
}

.tribe-events-list-event-title.entry-title,
.tribe-events-list-event-title.entry-title .url {
	font-weight: normal;
	font-family: 'exoregular';
}

.tribe-events-list .tribe-events-event-cost{
	display: none;
}

.tribe-events-list .tribe-events-venue-details, .tribe-events-event-meta address.tribe-events-address{
	font-style: normal;
	font-size: 14px;
}

.tribe-events-event-meta .updated.published.time-details,
.tribe-events-schedule.updated.published{
	text-transform: capitalize;
	font-size: 18px;
}

#tribe-events .tribe-events-content p, .tribe-events-before-html p, .tribe-events-after-html p{
	font-size: 13px;
	line-height: 1.2;
	font-weight: normal;
	color: #50535a;
}

#tribe-events .tribe-events-content .tribe-events-read-more{
	font-size: 13px;
	line-height: 1.2;
	font-weight: normal;
}

.tribe-events-loop .vevent.type-tribe_events {
	border-bottom: 1px solid #acacac;
}

.tribe-events-loop .vevent.tribe-events-last{
	border: none;
}

.tribe-events-list .tribe-events-page-title{
	display: none;
}

.events-list .tribe-events-loop, .tribe-events-day .tribe-events-loop, .single-tribe_venue .tribe-events-loop, .single-tribe_organizer .tribe-events-loop{
	max-width: 100%;
}

#tribe-bar-views .tribe-bar-views-list .tribe-bar-views-option a,
.tribe-bar-views-inner,
#tribe-bar-form {
	background: none;
}

#tribe-events-content .tribe-events-back a,
#tribe-events-content .tribe-events-nav-previous a,
#tribe-events-content .tribe-events-nav-next a,
.single-tribe_events h2.tribe-events-single-event-title,
.tribe-events-list-event-title.entry-title,
.tribe-events-list-event-title.entry-title .url,
.tribe-events-gmap,
.tribe-events-read-more,
#tribe-events-content .tribe-events-tooltip h4{
	color: #eb4331;
	text-decoration: none;
}

/*.single-tribe_events #tribe-events-content a,*/
.single-tribe_events .tribe-events-single-section a,
.single-tribe_events .tribe-events-event-url a,
.single-tribe_events .tribe-events-meta-group-venue .url a,
.tribe-events-calendar a{
	color: #50535a;
	text-decoration: underline !important;
	font-weight: normal;
}

.tribe-events-calendar td.tribe-events-present div[id*="tribe-events-daynum-"], .tribe-events-calendar td.tribe-events-present div[id*="tribe-events-daynum-"]>a, #tribe_events_filters_wrapper input[type=submit], .tribe-events-button, #tribe-events .tribe-events-button, .tribe-events-button.tribe-inactive, #tribe-events .tribe-events-button:hover, .tribe-events-button:hover, .tribe-events-button.tribe-active:hover,
#tribe-bar-form .tribe-bar-submit input[type=submit] {
	background: #eb4331;
}


.single-tribe_events #tribe-events-footer, .tribe-events-day #tribe-events-footer, .events-list #tribe-events-footer, .tribe-events-map #tribe-events-footer, .tribe-events-photo #tribe-events-footer{
	border: none;
}

.tribe-events-month .tribe-events-button,
#tribe-events .tribe-events-list .tribe-events-ical,
.tribe-events-month .tribe-events-ical,
.tribe-events-month #tribe-events-footer,
.tribe-events-list #tribe-events-footer{
	display: none !important;
}

#tribe-events .tribe-events-cal-links .tribe-events-button {
	display: inline-block;
}

.tribe-events-single-event-description .wpcf7 p{
	font-weight: bold;
}
.tribe-events-single-event-description .wpcf7 input,
.tribe-events-single-event-description .wpcf7 textarea{
	border: 1px solid #acacac;
	line-height: 16px;
	padding: 3px;
	margin-top: 6px;
}
.tribe-events-single-event-description .wpcf7 input[type=submit] {
	color: #fff;
	background: #eb4331;
	font-size: 11px;
	font-weight: bold;
	padding: 6px 9px;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 1px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	border: 0;
	line-height: normal;
	cursor: pointer;
	-webkit-box-shadow: none;
	box-shadow: none;
	text-decoration: none;
	display: inline-block;
	zoom: 1;
	vertical-align: middle;
}
