@media (min-width: 1200px) {
    .container {
        width: 940px;
    }
    [class*="-6"] .poligon .poligon-top>div:nth-child(1) {
        left: 11px;
        top: 13px;
    }
    [class*="-6"] .poligon .poligon-top>div:nth-child(2) {
        width: 91%;
    }
}

@media (max-width: 1200px) {
    .mozaico-consultoria .moz h5 {
        font-size: 65px;
    }
}

@media (max-width: 992px) {
    h6 {
        font-size: 16px;
    }
    .icon {
        background-size: cover;
    }
    .icon.icon-size-50 {
        width: 40px !important;
        height: 40px !important;
    }
    .banner .carousel-inner>.item .links a {
        font-size: 21px;
    }
    /*EMPRESA*/
    .banner-interna h2 {
        font-size: 65px;
    }
    .banner-interna p {
        font-size: 27px;
        line-height: 36px;
    }
    .numeros .box-numero.box-numero-a h4 {
        font-size: 90px;
        line-height: 90px;
    }
    .numeros .box-numero.box-numero-a h5 {
        font-size: 18px;
        margin: 12px 0 0;
        line-height: 20px;
    }
    .numeros .box-numero.box-numero-b.red,
    .numeros .box-numero.box-numero-b.gray,
    .numeros .box-numero.box-numero-a {
        height: 160px;
    }
    .numeros .box-numero.box-numero-b.gray h5,
    .numeros .box-numero.box-numero-b.red h5 {
        font-size: 14px;
    }
    .numeros .box-numero.box-numero-b.red h4,
    .numeros .box-numero.box-numero-b.gray h4 {
        line-height: 44px;
        font-size: 40px;
    }
    .numeros .box-numero.box-numero-b.gray h5:last-child,
    .numeros .box-numero.box-numero-b.red h5:last-child {
        bottom: 27px;
    }
    .numeros .box-numero.box-numero-b.gray h5,
    .numeros .box-numero.box-numero-b.red h5 {
        padding-top: 20px;
    }
    .presenca-territorio-nacional h2 {
        font-size: 36px;
    }
    .missao-visao-valores .tab-pane p {
        font-size: 30px;
    }
    .missao-visao-valores li a {
        width: 219px;
        height: 102px;
    }
    .missao-visao-valores li a p {
        top: 21px;
    }
    .missao-visao-valores .tab-pane {
        min-height: 395px;
    }
    .solucoes-integradas h3 {
        font-size: 72px;
    }
    .nosso-time .numero .content img {
        width: 80px;
    }
    .nosso-time .numero .content h4 {
        font-size: 60px;
    }
    .nosso-time .numero .content p {
        font-size: 12px;
        line-height: 15px;
    }
    .nosso-time .numero {
        height: 237px;
    }
    .poligon .poligon-top>div:nth-child(1) {
        transform: rotate(42deg);
        -webkit-transform: rotate(42deg);
        -moz-transform: rotate(42deg);
        -ms-transform: rotate(42deg);
        -o-transform: rotate(42deg);
        left: 16px;
        top: 1px;
    }
    .poligon .poligon-top>div:nth-child(2) {
        width: 82%;
    }
    .poligon-gradient {
        height: 106px;
        line-height: 106px;
        font-size: 30px;
    }
    [class*="-6"] .poligon .poligon-top>div:nth-child(1) {
        left: 13px;
        top: 7px;
    }
    [class*="-6"] .poligon .poligon-top>div:nth-child(2) {
        width: 88%;
    }
    .solucoes-integradas-detalhes .box .text {
        width: 210px;
    }
    .solucoes-integradas-detalhes .box .text span:last-child {
        left: 68px;
        font-size: 20px;
        line-height: 25px;
    }
    .solucoes-integradas-detalhes .box-icon {
        width: 60px;
        height: 60px;
    }
    .solucoes-integradas-detalhes .box.active .hover p {
        font-size: 11px;
        line-height: 17px;
        width: 210px;
    }
    .solucoes-integradas-detalhes .box {
        height: 165px;
    }
    .mozaico .moz {
        padding: 45px;
        min-height: 300px;
    }
    .mozaico .moz h4 {
        font-size: 35px;
    }
    .mozaico .moz h5 {
        font-size: 70px;
    }
    .mozaico .moz p {
        font-size: 15px;
        line-height: 25px;
    }

    .mozaico .check-list li {
        font-size: 16px;
        text-indent: -30px;
        margin-left: 30px;
    }



    .mozaico .check-list li:before {
        font-size: 20px;
    }
    footer .footer-top .col-sm-8 .row a {
        font-size: 12px;
    }
    footer .footer-top .line {
        top: 102px;
    }
    footer nav>ul>li>a {
        font-size: 17px;
    }
    footer nav>ul>li>ul>li>a,
    footer nav>ul>li>ul>li>ul>li>a {
        font-size: 11px;
    }
    footer nav>ul>li>ul>li>a[href="#"] {
        font-size: 13px;
    }
    footer .footer-bottom p {
        font-size: 12px;
    }
    .banner h2 {
        font-size: 75px;
    }
    .banner p {
        font-size: 18px;
    }
    .banner .carousel-inner>.item .vcenter {
        margin-top: 150px;
    }
    .banner .btn {
        font-size: 12px;
    }
    .contato .suporte img {
        display: block;
        margin: 11px auto 0;
        width: 35px;
    }
    .contato .suporte p {
        font-size: 15px;
        font-weight: 300;
        color: #ffffff;
        margin: 16px 0 0;
        line-height: 17px;
    }

    .mozaico-consultoria .moz h5 {
        font-size: 50px;
    }

    .mozaico-consultoria .moz {
        height: 330px;
    }

    .mozaico .moz-row .moz-text:nth-child(1) .content,
    .texto.bg-f2f2f2 ~ .mozaico .moz-row .moz-text:nth-child(1) .content {
        margin-left: 0;
    }

    .solucoes-operacionais.s-o-b .btns li a {
        font-size: 15px;
    }
    .solucoes-operacionais.s-o-b h3 {
        padding: 15px;
    }



}

@media (max-width: 768px) {
    .navbar>.container .navbar-brand {
        margin-top: -9px;
    }
    .navbar .navbar-nav>li>a~span {
        display: none;
    }
    .navbar .navbar-top form {
        float: none;
    }
    .navbar .navbar-top .btn,
    .navbar .navbar-top .form-control,
    .navbar .navbar-top .btn,
    .navbar .navbar-top .form-group {
        width: 100%;
        margin-top: 10px !important;
        margin-left: 0;
    }
    .navbar .navbar-nav>li>a {
        padding-top: 5px;
        padding-bottom: 5px;
    }
    .navbar-default.gradient .navbar-collapse {
        max-height: inherit;
        overflow: inherit;
    }
    .navbar-fixed-bottom,
    .navbar-fixed-top {
        position: absolute;
    }
    .navbar.navbar .dropdown-menu {
        background-color: #fff;
    }
    .navbar-nav .open .dropdown-menu>li>a {
        padding: 0;
    }
    .navbar-nav>li>.dropdown-menu>li:last-child {
        width: 100%;
    }
    .container {
        width: 640px;
    }
    .banner-interna h2 {
        font-size: 60px;
    }
    .banner-interna p {
        font-size: 25px;
        line-height: 30px
    }
    .banner h2 {
        font-size: 65px;
    }
    .banner p {
        font-size: 16px;
    }
    .banner .carousel-inner>.item .links a {
        font-size: 18px;
        padding: 33px 19px;
    }
    .banner .carousel-inner>.item .vcenter {
        margin-top: 90px;
    }
    .numeros .box-numero.box-numero-b.gray h5:last-child,
    .numeros .box-numero.box-numero-b.red h5:last-child {
        bottom: 17px;
    }
    .numeros .box-numero.box-numero-b.gray h5,
    .numeros .box-numero.box-numero-b.red h5 {
        font-size: 13px;
    }
    .numeros .box-numero.box-numero-b.red h4,
    .numeros .box-numero.box-numero-b.gray h4 {
        line-height: 35px;
        font-size: 35px;
        margin: 0;
    }
    .numeros .box-numero.box-numero-a h4 {
        font-size: 60px;
        line-height: 65px;
    }
    .numeros .box-numero.box-numero-b.red,
    .numeros .box-numero.box-numero-b.gray,
    .numeros .box-numero.box-numero-a {
        height: 130px;
    }
    .presenca-territorio-nacional .box-numero {
        margin-bottom: 20px;
    }
    .presenca-territorio-nacional h2 {
        font-size: 31px;
    }
    .presenca-territorio-nacional .pull-right {
        float: none !important;
    }
    .presenca-territorio-nacional .box-numero {
        margin: 0 auto 20px;
        display: block;
    }
    .missao-visao-valores .tab-pane {
        min-height: 200px;
    }
    .missao-visao-valores li {
        display: inline-block;
        width: 32%;
    }
    .missao-visao-valores li a {
        width: 100%;
        height: 92px;
    }
    .missao-visao-valores li p:before {
        padding: 25px;
    }
    .missao-visao-valores .tab-pane .text {
        position: relative;
        top: 0;
        transform: inherit;
        -webkit-transform: inherit;
        -moz-transform: inherit;
        -ms-transform: inherit;
        -o-transform: inherit;
    }
    .missao-visao-valores li a {
        height: 84px;
        background-size: contain;
    }
    .solucoes-integradas img {
        margin: 0 auto 50px;
        display: block !important;
    }
    .nosso-time .membro {
        display: block;
        margin: 0 auto 30px;
        width: 300px;
    }
    .nosso-time .numero {
        height: 448px;
    }
    .nosso-time .numero .content img {
        width: 95px;
    }
    .nosso-time .numero .content h4 {
        font-size: 95px;
    }
    .nosso-time .numero .content p {
        font-size: 15px;
        line-height: 20px;
    }
    .nosso-time .numero .content {
        bottom: 84px;
    }
    .news h2 {
        font-size: 47px;
    }
    .news .form-group {
        display: inline-block !important;
    }
    .poligon .poligon-top>div:nth-child(1) {
        left: 16px;
        top: 0px;
        width: 31px;
    }
    .poligon .poligon-top>div:nth-child(2) {
        width: 79%;
    }
    .poligon .poligon-content {
        font-size: 16px;
    }
    .poligon .poligon-collapse {
        font-size: 14px;
    }
	[class*="-6"] .poligon .poligon-top>div:nth-child(1) {
	    left: 16px;
	    top: 0px;
	}
	[class*="-6"] .poligon .poligon-top>div:nth-child(2) {
	    width: 94%;
	    border-top-left-radius: 8px;
	}
    .bus {
        overflow-x: initial;
    }
    .video .bus-left,
    .video .bus-right {
        background-position: center;
    }
    .poligon-gradient {
        height: 90px;
        line-height: 90px;
        font-size: 25px;
    }
    .modulos-poligon-gradient h3 {
        margin: 20px 0 10px;
    }
    .modulos-poligon-gradient p {
        margin-bottom: 40px;
    }
    .solucoes-integradas-detalhes h2 {
        font-size: 50px;
    }
    .solucoes-integradas-detalhes a {
        font-size: 16px;
    }
    .solucoes-integradas-detalhes .box {
        height: 123px;
    }
    .solucoes-integradas-detalhes .box-icon {
        width: 45px;
        height: 45px;
    }
    .solucoes-integradas-detalhes .box .text span:last-child {
        left: 55px;
        font-size: 16px;
        line-height: 19px;
    }
    .solucoes-integradas-detalhes .box .text {
        width: 162px;
    }
    .solucoes-integradas-detalhes .box.active .hover p {
        font-size: 9px;
        line-height: 12px;
        width: 162px;
    }
    .solucoes-integradas-detalhes .box.active:hover .hover {
        bottom: 12px;
        '	'
    }
    .mozaico .moz h4 {
        font-size: 30px;
    }
    .mozaico .moz h5 {
        font-size: 60px;
    }
    .mozaico .moz p {
        font-size: 13px;
        line-height: 22px;
    }
    .mozaico .moz {
        padding: 30px;
        min-height: 250px;
    }
    .mozaico .moz-row .moz-text:nth-child(1) .content {
        position: relative;
        right: inherit;
    }
    .mozaico .check-list li {
   /*     font-size: 12px;
        margin-bottom: 0;*/
    }

    .mozaico .check-list li:before {
        /*font-size: 14px;*/
    }
    footer .footer-top .line {
        display: none;
    }
    footer .footer-top .col-sm-8 .row,
    footer .footer-top .col-sm-8 .row [class*="col-"],
    footer .footer-top .col-sm-8 .row [class*="col-"]:last-child {
        border: 0;
    }
    footer .footer-top .col-sm-8 .row a {
        padding: 4px 0;
    }
    footer .redesocial {
        width: 60px;
        margin-top: 15px;
        float: right;
    }
    footer nav {
        margin-bottom: 0;
    }
    footer nav>ul>li>a {
        margin-top: 20px;
    }
    .row.footer-top .col-sm-8 {
        float: left;
        width: 50%;
    }
    footer nav>ul>li {
        width: 33.3%;
    }
    .banner .btn {
        font-size: 11px;
    }
    .contato .btn-gradient {margin-bottom: 20px;}


    .mozaico-consultoria .moz h5 {
        font-size: 42px;
    }

    .mozaico-consultoria .moz {
        height: 280px;
    }

    .solucoes-operacionais.s-o-b .btns li a {
        line-height: 48px;
        border-left: 1px solid #c4c6c5;
        border-right: 1px solid #c4c6c5;
        border-radius: 5px;
    }

    .solucoes-operacionais.s-o-b .btns li a:before,
    .solucoes-operacionais.s-o-b .btns li a:after {
        display: none !important;
    }
    .solucoes-operacionais.s-o-b .btns li {
        margin-bottom: 10px;
    }

    .solucoes-operacionais.s-o-b .btns,
    .solucoes-operacionais.s-o-b .tab-content {
        margin-left: -10px;
        width: calc(100% - 0px);
    }

    .solucoes-operacionais.s-o-b h3 {
        font-size: 25px;
    }

    .moz .btn-default {
        margin-bottom: 5px;
    }

    .mobile-detalhes .box-mobile img {
        margin: 0 auto;
        display: block;
    }

}

@media (min-width: 760px) {
    /*NAVBAR*/
    /*dropdown hover*/
    .navbar-default .dropdown-menu .sub-menu {
        left: 100%;
        position: absolute;
        top: 0;
        visibility: hidden;
        margin-top: -1px;
    }
    .navbar-default .dropdown-menu li:hover .sub-menu {
        visibility: visible;
    }
    .navbar-default .dropdown:hover .dropdown-menu {
        display: block;
    }
    .navbar-default.navbar .dropdown-menu {
        margin-top: 0;
    }
    .navbar-default.navbar .sub-menu:before {
        border-bottom: 7px solid transparent;
        border-left: none;
        border-right: 7px solid rgba(0, 0, 0, 0.2);
        border-top: 7px solid transparent;
        left: -7px;
        top: 10px;
    }
    .navbar-default.navbar .sub-menu:after {
        border-top: 6px solid transparent;
        border-left: none;
        border-right: 6px solid #fff;
        border-bottom: 6px solid transparent;
        left: 10px;
        top: 11px;
        left: -6px;
    }
    .navbar-default>.container {
        position: relative;
    }
    .navbar-nav>li>.dropdown-menu {
        min-width: 600px;
    }
    .navbar-nav>li>.dropdown-menu>li {
        width: 33%;
        float: left;
    }
    .navbar-nav>li.dropdown {
        position: inherit;
    }
    .navbar-nav>li>.dropdown-menu {
        position: absolute;
        right: 0;
    }


}

@media (max-width: 640px) {
    .container {
        width: 520px;
    }
    .banner h2 {
        font-size: 55px;
        margin: 0px 0 15px;
    }
    .banner p {
        font-size: 13px;
        line-height: 19px;
    }
    .icon.icon-size-50 {
        width: 30px !important;
        height: 30px !important;
    }
    .banner .carousel-inner>.item .links a {
        font-size: 16px;
        padding: 33px 9px;
    }
    .banner-interna h2 {
        font-size: 50px;
    }
    .banner-interna p {
        font-size: 19px;
        line-height: 26px;
    }
    .numeros .box-numero.box-numero-a h4 {
        font-size: 40px;
        line-height: 42px;
    }
    .numeros .box-numero.box-numero-a h5 {
        font-size: 13px;
        margin: 15px 0 0;
        line-height: 15px;
    }
    .numeros .box-numero.box-numero-b.gray h5,
    .numeros .box-numero.box-numero-b.red h5 {
        font-size: 10px;
        line-height: 13px;
    }
    .numeros .box-numero.box-numero-b.gray h5:last-child,
    .numeros .box-numero.box-numero-b.red h5:last-child {
        bottom: 13px;
    }
    .numeros .box-numero.box-numero-b.red h4,
    .numeros .box-numero.box-numero-b.gray h4 {
        line-height: 28px;
        font-size: 26px;
        margin: 0;
    }
    .numeros .box-numero.box-numero-b.red,
    .numeros .box-numero.box-numero-b.gray,
    .numeros .box-numero.box-numero-a {
        height: 100px;
    }
    .presenca-territorio-nacional h2 {
        line-height: 35px;
        text-align: center;
    }
    .missao-visao-valores li a {
        height: 73px;
    }
    .missao-visao-valores li a p {
        top: 17px;
        font-size: 23px;
    }
    .missao-visao-valores li {
        width: 100%;
        display: block;
        float: none;
    }
    .news h2 {
        font-size: 38px;
    }
    .poligon .poligon-top>div:nth-child(2) {
        width: 73%;
    }
    .poligon-gradient {
        height: 70px;
        line-height: 70px;
        font-size: 20px;
    }
	[class*="-6"] .poligon .poligon-top>div:nth-child(2) {
	    width: 93%;
	    border-top-left-radius: 10px;
	}
    .solucoes-integradas-detalhes a {
        font-size: 12px;
        line-height: 15px;
    }
    .solucoes-integradas-detalhes .box-icon {
        width: 30px;
        height: 30px;
    }
    .solucoes-integradas-detalhes .box .text span:last-child {
        left: 35px;
        font-size: 13px;
        line-height: 14px;
    }
    .solucoes-integradas-detalhes .box .text {
        width: 130px;
    }
    .solucoes-integradas-detalhes .box.active .hover p {
        font-size: 8px;
        line-height: 10px;
        width: 130px;
    }
    .solucoes-integradas-detalhes .box.operacinal.manutencao-de-frota.active {
        border-width: 10px;
    }
    .solucoes-integradas-detalhes .box {
        height: 118px;
    }
    .mozaico .moz h4 {
        font-size: 25px;
    }
    .mozaico .moz h5 {
        font-size: 50px;
    }
    .mozaico .moz p {
        font-size: 12px;
        line-height: 18px;
    }
    .mozaico .moz {
        padding: 15px;
        min-height: 195px;
    }
    .servicos-globus .servico h4 {
        font-size: 22px;
        line-height: 26px;
        margin: 0 auto 15px;
    }
    .servicos-globus .servico p {
        font-size: 16px;
        line-height: 20px;
    }

    .text-col .col {
        width: 100%;
        float: none;
        padding: 40px 0 !important;
    }

    .text-col .col:first-child {
        border-right: 0;
        border-bottom: 1px solid #e7e5e7;
    }

    .mozaico-consultoria .moz h5 {
        font-size: 38px;
    }


    .mozaico-consultoria .moz {
        height: 225px;
    }

    .box-check-list {
        width: 100%;
        float: none;
        padding: 0 !important;
        border: 0 !important;
    }

    .check-list h2 {
        margin-bottom: 0px;
    }

    .check-list li {
        font-size: 16px;
    }

    .check-list h2 {
        font-size: 24px;
    }

    .box-check-list:first-child .check-list li {
        margin-bottom: 20px;
    }

    .box-check-list hr {
        display: none;
    }
}

@media (max-width: 540px) {
    .container {
        width: 310px;
    }
    .video h2 {
        font-size: 24px;
    }
    .video h2 b {
        font-size: 80px;
    }
    .video h6 {
        font-size: 12px;
        line-height: 16px;
    }
    section.numeros .col-xs-3 {
        width: 100%;
        margin-bottom: 20px;
    }
    .numeros .box-numero {
        text-align: center;
        position: relative;
    }
    .numeros .box-numero.box-numero-a h4 {
        font-size: 115px;
        margin: 0;
        line-height: 115px;
        top: 10px;
    }
    .numeros .box-numero.box-numero-a h5 {
        font-size: 24px;
        margin: 5px 0 0;
        line-height: 30px;
        width: 215px;
    }
    .numeros .box-numero.box-numero-b.red h4 {
        font-size: 54px;
        line-height: 70px;
    }
    .numeros .box-numero.box-numero-b.red h5 {
        font-size: 17px;
        margin: 0;
        line-height: 17px;
        padding-top: 35px;
    }
    .numeros .box-numero.box-numero-b.red h5:last-child {
        bottom: 50px;
    }
    .numeros .box-numero.box-numero-b.gray h4 {
        font-size: 54px;
        line-height: 70px;
    }
    .numeros .box-numero.box-numero-b.gray h5 {
        font-size: 17px;
        margin: 0;
        line-height: 17px;
        padding-top: 35px;
    }
    .numeros .box-numero.box-numero-b.gray h5:last-child {
        bottom: 50px;
    }
    .numeros .box-numero.box-numero-b.red,
    .numeros .box-numero.box-numero-b.gray,
    .numeros .box-numero.box-numero-a {
        height: 219px;
    }
    .numeros .box-numero {
        width: 220px !important;
        margin: 0 auto !important;
    }
    .solucoes-integradas h3 {
        font-size: 48px;
    }
    .nosso-time h2 {
        font-size: 49px;
        margin: 0 0 15px;
    }
    .news h2 {
        font-size: 21px;
    }
    .news .form-group {
        display: block !important;
    }
    .news .form-control {
        max-width: 100%;
    }
    .news .btn-default.btn-gradient {
        width: 100%;
    }
    .solucoes-operacionais .col-xs-4 {
        width: 100%;
    }
	.solucoes-operacionais h2 {
	    font-size: 43px;
	    line-height: 55px;
	}
    .poligon .poligon-top>div:nth-child(2) {
        width: 86%;
    }
    .video .bus-left {
        background-position: right;
    }
    .video .bus-right {
        background-position: left;
    }
    .poligon-gradient {
        height: 43px;
        line-height: 43px;
        font-size: 12px;
    }
	[class*="-6"] .poligon .poligon-top>div:nth-child(2) {
	    width: 87%;
	    border-top-left-radius: 7px;
	}
    .solucoes-integradas-detalhes .box .hover {
        height: 100%;
    }
    .solucoes-integradas-detalhes a .fa {
        display: none;
    }
    .solucoes-integradas-detalhes a {
        padding: 5px;
        height: 40px;
    }
    .solucoes-integradas-detalhes a {
        font-size: 9px;
        line-height: 13px;
    }
    .solucoes-integradas-detalhes .box-icon {
        width: 25px;
        height: 25px;
    }
    .solucoes-integradas-detalhes .box .text span:last-child {
        left: 28px;
        font-size: 10px;
        line-height: 11px;
    }
    .solucoes-integradas-detalhes .box .text {
        width: 92%;
    }
    .solucoes-integradas-detalhes .box.active .hover p {
        position: absolute;
        bottom: 0;
        width: 92%;
        left: 4%;
        font-size: 7px;
        line-height: 10px;
    }
    .solucoes-integradas-detalhes .box.operacinal.manutencao-de-frota.active {
        border-width: 2px;
    }
    .solucoes-integradas-detalhes .box {
        height: 110px;
    }
    .mozaico .moz h4 {
        font-size: 20px;
    }
    .mozaico .moz h5 {
        font-size: 30px;
        text-indent: -3px;
    }
    .mozaico .moz p {
        font-size: 10px;
        line-height: 15px;
    }
    .servicos-globus .servico {
        width: 100%;
        float: none;
        border: 0;
        border-bottom: 1px solid #887e89;
        margin: 0;
    }
    .servicos-globus .servico:last-child {
        border: 0;
    }
    .servicos-globus .servico .btn {
        margin-bottom: 20px;
    }
    footer nav>ul>li {
        width: 100%;
    }
    footer nav>ul>li>a {
        font-size: 20px;
    }
    footer nav>ul>li>ul>li>a[href="#"] {
        font-size: 16px;
    }
    footer nav>ul>li>ul>li>a,
    footer nav>ul>li>ul>li>ul>li>a {
        font-size: 14px;
    }
    .banner .col-xs-4 {
        float: none;
        width: 100%;
    }
    .banner .carousel-inner>.item .links a {
        padding: 20px 9px;
    }

    .mozaico-consultoria .moz {
        height: 200px;
    }

}

@media (max-width: 440px) {
    .mozaico .moz h4 {
        font-size: 15px;
    }
    .mozaico .moz h5 {
        font-size: 20px;
        border-right: 0;
        text-indent: -3px;
    }
    .mozaico .moz p {
        font-size: 10px;
        line-height: 12px;
        font-weight: 300;
    }
    .mozaico .moz .btn {
        font-size: 10px;
    }

.mozaico-consultoria .moz .btn {
    font-size: 8px;
}


.mozaico .check-list li {text-indent: inherit; margin-left: 0;}
.mozaico .check-list li:before {display: none;}



}

@media (max-width: 320px) {}
